<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%'>
  <tr> 
    <td class='main' id='main' valign='top'>
    	<div class='title_tools'>
			<%= link_to "View All Zipcodes", zipcodes_path %>
      	</div>
    	<div class='title'>
        	<span id='title'>Show Zipcode</span>
      	</div>
		<p id="notice"><%= notice %></p>

		<table cellpadding='0' cellspacing='0' border='1'>
            <tr>
              <td>Code</td><td><%= @zipcode.code %></td>
            </tr>
            <tr>
              <td>Area</td><td><%= @zipcode.area %></td>
            </tr>
            <tr>
              <td>City</td><td><%= @zipcode.city %></td>
            </tr>
            <tr>
              <td>State</td><td><%= @zipcode.state %></td>
            </tr>
            <tr>
              <td>Country</td><td><%= @zipcode.country %></td>
            </tr>
        </table>

		<%= link_to 'Edit', edit_zipcode_path(@zipcode) %> |
		<%= link_to 'Back', zipcodes_path %>
	</td>
   </tr>
</table>
