<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%'>
  <tr> 
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
	    	<% if current_user.is_super_admin? %>
		  		<%#= link_to "Create New Service Category", new_service_category_path %>
				<% end %>
      </div>

      <div class='title'>
        <span id='title'><%= image_tag("comments.png")%> Comments</span>
      </div>

      <div id="comment" class="list">
	    <table id="comment_list" class="datatable" cellpadding='0' cellspacing='0' border='1'>
		  <thead>
		    <tr>
		      <th><strong>App User ID</strong></th>
		      <th><strong>App User Name</strong></th>
			  	<th><strong>Deal ID </strong></th>
			  	<th><strong>Show on page ? </strong></th>
			  	<th><strong>Comment</strong></th>
			  	<th><strong>Edit </strong></th>
				</tr>
		  </thead>
		  <tbody>
		    <% @comments.each do |comment| %>
			  	<% if can? :read, comment %>
			    	<tr>
			      	<td><%= comment.app_user_id %></td>
			      	<td><%= comment.app_user_name %></td>
				  		<td><%= comment.deal_id %></td>
				  		<td><%= comment.status %></td>
				  		<td><%= comment.comment_text %></td>
				  		<td><%= (link_to 'Edit', edit_comment_path(comment)) if can? :manage, comment %> | <%= (link_to "Delete", comment, method: :delete, data: { confirm: "You sure?" }) if can? :manage, comment %></td>
						</tr>
			  	<% end %>
				<% end %>
		  </tbody>
		</table>
	  </div>
    </td>
  </tr>
</table>
