<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%'>
  <tr>
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
        <% if current_user.is_super_admin? %>
            <%= link_to "Create Deal Extra Service", new_deal_extra_service_path %>
        <% end %>
      </div>

      <div id="users" class="list">
        <table id="users_list" class="datatable" cellpadding='0' cellspacing='0' border='1'>
          <thead>
          <tr>
            <th><strong>ID</strong></th>
            <th><strong>Extra Service ID</strong></th>
            <th><strong>Deal Id</strong></th>
            <th><strong>Price</strong></th>
            <th><strong>Status</strong></th>
            <th><strong>Service Term</strong></th>
            <th><strong>Action</strong></th>
          </tr>
          </thead>
          <tbody>
          <% @deal_extra_services.each do |deal_extra_service| %>
              <% if can? :read, deal_extra_service %>
                  <tr>
                    <td><%= deal_extra_service.id %></td>
                    <td><%= deal_extra_service.extra_service_id %></td>
                    <td><%= deal_extra_service.deal_id %></td>
                    <td><%= deal_extra_service.price %></td>
                    <td><%= deal_extra_service.status %></td>
                    <td><%= deal_extra_service.service_term %></td>
                    <td><%= (link_to 'Edit', edit_deal_extra_service_path(deal_extra_service)) if can? :manage, deal_extra_service %> | <%= (link_to "Delete", deal_extra_service, method: :delete, data: { confirm: "You sure?" }) if can? :manage, deal_extra_service %></td>
                  </tr>
              <% end %>
          <% end %>
          <div class="digg_pagination">
            <%= will_paginate @deal_extra_services %>
          </div>
          </tbody>
        </table>
        <p>
          Download:
          <%= link_to "CSV", deal_extra_services_path(format: "csv") %>
          <%#= link_to "Excel", service_categories_path(format: "xls") %>
        </p>
      </div>
    </td>
  </tr>
</table>