<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%' >
  <tr> 
    <td class='main' id='main' valign='top'>

      <div class='title_tools'>
				<% if current_user.is_at_admin_level? %><%= link_to "View All Users", users_path%> | <% end %>
				<%= link_to "Edit Password", root_path %> <%# edit_password_user_path(@user) %>
      </div>
      <div class='title'>
        <span id='title'>Update User Information</span>
      </div>

			<div class="small-6 large-centered columns">
				<%= form_for(@user, :url => user_path(@user)) do |f| %>
					<div><br /></div>
				  <div><strong><%= f.label :name %></strong><br />
				  <%= f.text_field :name %></div>

				  <div><strong><%= f.label :email %></strong><br />
				  <%= f.email_field :email %></div>
					
				  <div><strong>Role</strong><br />
					<% if current_user.role? 'super_admin' %>
						<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
					<% elsif current_user.is_at_admin_level? %>
						<%= f.select :role, {'SuperAdmin' => 'super_admin','ServiceProvider' => 'service_provider','Admin' => 'admin',} %>
					<% else %>					
						<%= @user.role.humanize rescue '-' %>
					<% end %></div>

					<div><strong>Can Login?</strong><br />
				  <%= f.check_box :enabled %></div><br/><br/>
				  
				  <div><%= f.submit "Update" %></div>
				<% end %>
			</div>
    </td>
	</tr>
</table>

