<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%'>
	<tr>
		<td class='main' id='main' valign='top'>
			<div class='title_tools'>
				<% if current_user.is_super_admin? %>
					<%#= link_to "Create New Service Preferences", new_service_preference_path %>
				<% end %>
			</div>

			<div id="users" class="list">
				<table id="users_list" class="datatable" cellpadding='0' cellspacing='0' border='1'>
					<thead>
						<tr>
							<th><strong>ID</strong></th>
							<th><strong>Service Preference Id</strong></th>
							<th><strong>DomesticCallMinutes</strong></th>
							<th><strong>InternationalCallMinutes</strong></th>
							<th><strong>Data Plan</strong></th>
							<th><strong>Data Speed</strong></th>
							<th><strong>DomesticCallUnlimited</strong></th>
							<th><strong>InternationalCallUnlimited</strong></th>
							<th><strong>Action</strong></th>
						</tr>
					</thead>
					<tbody>
						<% @cellphone_service_preferences.each do |csp| %>
							<% if can? :read, csp %>
								<tr>
									<td><%= csp.id %></td>
									<td><%= csp.service_preference_id %></td>
									<td><%= csp.domestic_call_minutes %></td>
									<td><%= csp.international_call_minutes %></td>
									<td><%= csp.data_plan %></td>
									<td><%= csp.data_speed %></td>
									<td><%= csp.domestic_call_unlimited %></td>
									<td><%= csp.international_call_unlimited %></td>
									<td><%= (link_to 'Edit', edit_cellphone_service_preference_path(csp)) if can? :manage, csp %> | <%= (link_to "Delete", csp, method: :delete, data: { confirm: "You sure?" }) if can? :manage, csp %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</td>
	</tr>
</table>