<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%' >
  <tr> 
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
		<%= link_to "View Notifications", push_notifications_path %>
      </div>
      <div class='title'>
        <span id='title'>Send a new notification</span>
      </div>

			<div class="small-6 large-centered columns">
				<%= form_for(@push_notification, :url => @push_notifications) do |f| %><br/>
				  <div>App User Id : <br />
				  <%= f.text_field :app_user_id %></div>
				  <div>Message : <br />
				  <%= f.text_field :message %></div>
				  <div><%= f.submit "Create" %></div>
				<% end %>
			</div>
    </td>
	</tr>
</table>