<fieldset id="additional-offer">
  <h4>Additional Offer for zip areas</h4>
  <%= f.label :title %>
  <%= f.text_field :title, :id=>'additional-offer-title' %>
  
  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :price_value %>
  <%= f.text_field :price_value %>

  <%= f.label 'Select Allowed Zipcodes:' %>
  <%= f.select :zipcode_ids, Zipcode.all.map { |r| [r.code+' - '+r.city, r.id] },{},{ multiple: true,size: 10 } %>
  
  <%= f.label :start_date %>
  <%= f.text_field :start_date, :id=>'additional-offer-start-date' %>

  <%= f.label :end_date %>
  <%= f.text_field :end_date, :id=>'additional-offer-end-date' %>

  <div><%= f.check_box :is_active %> Is Active? </div>

 
</fieldset>