<fieldset id="cellphone-attributes" style="display:none;">
  <h4>Cellphone Deal Attributes</h4>
  <table class="form-data">
    <tr>
      <td>
      <div>Domestic Call Minutes<span class="mandat">*</span></div>
      <div><input type='checkbox' id='cellphone_domestic_unlimited'><span> Unlimited</span></div>
      <%= f.text_field :domestic_call_minutes, :id=>'cellphone-domestic-call-minutes' %>
      </td>
      <td valign="bottom">
      <%= f.label :domestic_text %>
      <%= f.text_field :domestic_text %>
      </td>
    </tr>
    <tr>
      <td>
      <%= f.label :international_call_minutes %>
      <div><input type='checkbox' id='cellphone_international_unlimited'><span> Unlimited</span></div>
      <%= f.text_field :international_call_minutes,:id=>'cellphone-international-call-minutes' %>
      </td>
      <td valign="bottom">
      <%= f.label :international_text %>
      <%= f.text_field :international_text %>
      </td>
    </tr>
    <tr>
      <td>
      <%= f.label :data_plan %>
      <%= f.text_field :data_plan %>
      </td>
      <td>
      <%= f.label :data_speed %>
      <%= f.text_field :data_speed %>
      </td>
    </tr>
    <tr>
      <td>
      <%= f.label :equipment %>
      <%= f.text_field :equipment %>
      </td>
      <td>
      <%= f.label :installation %>
      <%= f.text_field :installation %>
      </td>
    </tr>
    <tr>
      <td>
      <%= f.label :activation %>
      <%= f.text_field :activation %>
      </td>
      <td/>
    </tr>
  </table>
  
</fieldset>