<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%' >
  <tr> 
    <td class='main' id='main' valign='top'>

      <div class='title_tools'>
				<% if current_user.is_at_admin_level? %><%= link_to "View All Deals", deals_path %><% end %>
      </div>
      <div class='title'>
        <span id='title'>Update Deals</span>
      </div>
			<div class="small-6 large-centered columns">
				<%= form_for(@deal) do |f| %>
					<br/>

				  <div><strong>Service Category:<span id="mandat">*</span> </strong><br />
				  <%= f.select :service_category_id, ServiceCategory.all.map { |r| [r.name, r.id]},{:include_blank => "Select Category"},:onchange=>"populate_service_provider(this); yesnoCheck(this);" %>
				  </div>
				  <div><strong>Service Provider:<span id="mandat">*</span> </strong><br />
				  <%= f.select :service_provider_id, [],{:include_blank => "Select Provider"} %>
				  </div>
				  <div><strong>Title:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :title %></div>
				  <div><strong>Deal Image:<span id="mandat">*</span> </strong><br/>
				  <%= f.file_field :image %></div>
				  <div><strong>State:<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :state %></div>
				  <div><strong>City: </strong><br />
				  <%= f.text_field :city %></div>
				  <div><strong>Zip:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :zip %></div>
				  <div><strong>Price:<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :price %></div>
				  
				  <!-- For Internet Deals-->
				  <div id = "u_speed" style="display: none;"><strong>Upload Speed(In Mbps):<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :upload_speed %></div>
				  <div id="d_speed" style="display: none;"><strong>Download Speed(In Mbps):<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :download_speed %></div>
				  <!-- *******Ends Here********-->

				  <!-- For Telephone Deals-->
				  <div id = "c_minutes" style="display: none;"><strong>Call Minutes(Integer):<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :call_minutes %></div>
				  <div id="t_msgs" style="display: none;"><strong>Text Messages(Integer):<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :text_messages %></div>
				  <div id = "talk_unlimit" style="display: none;"><%= f.check_box :talk_unlimited %> <strong>Unlimited Talk </strong></div>
				  <div id = "text_unlimit" style="display: none;"><%= f.check_box :text_unlimited %> <strong>Unlimited Text </strong></div>
				  <!--<div id = "talk_unlimit" style="display: none;"><strong>Call Minutes(Integer):<span id="mandat">*</span> </strong><br />
				  <%#= f.text_field :call_minutes %></div>
				  <div id="text_unlimit" style="display: none;"><strong>Text Messages(Integer):<span id="mandat">*</span> </strong><br />
				  <%#= f.text_field :text_messages %></div>-->
				  <!-- *******Ends Here********-->

				  <!-- For Cable Deals-->
				  <div id = "free_c" style="display: none;"><strong>Free Channels(Integer):<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :free_channels %></div>
				  <div id="premium_c" style="display: none;"><strong>Premium Channels(Integer):<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :premium_channels %></div>
				  <!-- *******Ends Here********-->

				  <!-- For CellPhone Deals-->
				  <div id = "data_plan" style="display: none;"><strong>Data Plan(In GB):<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :data_plan %></div>
				  <div id="data_speed" style="display: none;"><strong>Data Speed(In Mbps):<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :data_speed %></div>
				  <!-- *******Ends Here********-->

				  
				  <div><strong>URL:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :url %></div>
				  <div><strong>Enter a Short Description:<span id="mandat">*</span> </strong><br />
				  <%= f.text_area :short_description %></div>
				  <div><strong>Enter Detail Description:<span id="mandat">*</span> </strong><br />
				  <%= f.text_area :detail_description %></div>
				  <div><strong>Start Date:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :start_date %></div>
				  <div><strong>End Date:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :end_date %></div>
				  <div><%= f.check_box :is_active %> 
				  <strong>Is Active ? </strong></div>
				  <div><%= f.submit "Update" %></div>
				<% end %>
			</div>
    </td>
	</tr>
</table>

<script>
    function yesnoCheck(that) {
        if (that.value == "1") {
            document.getElementById("u_speed").style.display = "block";
            document.getElementById("d_speed").style.display = "block";
            document.getElementById("c_minutes").style.display = "none";
            document.getElementById("t_msgs").style.display = "none";
            document.getElementById("free_c").style.display = "none";
            document.getElementById("premium_c").style.display = "none";
            document.getElementById("data_plan").style.display = "none";
            document.getElementById("data_speed").style.display = "none";
            document.getElementById("talk_unlimit").style.display = "none";
            document.getElementById("text_unlimit").style.display = "none";
        } else if (that.value == "2"){
        		document.getElementById("c_minutes").style.display = "block";
            document.getElementById("t_msgs").style.display = "block";
            document.getElementById("talk_unlimit").style.display = "block";
            document.getElementById("text_unlimit").style.display = "block";
            document.getElementById("u_speed").style.display = "none";
            document.getElementById("d_speed").style.display = "none";
            document.getElementById("free_c").style.display = "none";
            document.getElementById("premium_c").style.display = "none";
            document.getElementById("data_plan").style.display = "none";
            document.getElementById("data_speed").style.display = "none";
        } else if (that.value == "3"){
        		document.getElementById("free_c").style.display = "block";
            document.getElementById("premium_c").style.display = "block";
        		document.getElementById("c_minutes").style.display = "none";
            document.getElementById("t_msgs").style.display = "none";
            document.getElementById("u_speed").style.display = "none";
            document.getElementById("d_speed").style.display = "none";
            document.getElementById("data_plan").style.display = "none";
            document.getElementById("data_speed").style.display = "none";
            document.getElementById("talk_unlimit").style.display = "none";
            document.getElementById("text_unlimit").style.display = "none";
        } else if (that.value == "4"){
        		document.getElementById("c_minutes").style.display = "block";
            document.getElementById("t_msgs").style.display = "block";
            document.getElementById("data_plan").style.display = "block";
            document.getElementById("data_speed").style.display = "block";
            document.getElementById("talk_unlimit").style.display = "block";
            document.getElementById("text_unlimit").style.display = "block";
        		document.getElementById("free_c").style.display = "none";
            document.getElementById("premium_c").style.display = "none";
            document.getElementById("u_speed").style.display = "none";
            document.getElementById("d_speed").style.display = "none";
        } else if (that.value == "5"){
        		document.getElementById("c_minutes").style.display = "block";
            document.getElementById("t_msgs").style.display = "block";
            document.getElementById("talk_unlimit").style.display = "block";
            document.getElementById("text_unlimit").style.display = "block";
            document.getElementById("data_plan").style.display = "none";
            document.getElementById("data_speed").style.display = "none";
        		document.getElementById("free_c").style.display = "block";
            document.getElementById("premium_c").style.display = "block";
            document.getElementById("u_speed").style.display = "block";
            document.getElementById("d_speed").style.display = "block";
        }
        else {
            document.getElementById("u_speed").style.display = "none";
            document.getElementById("d_speed").style.display = "none";
            document.getElementById("c_minutes").style.display = "none";
            document.getElementById("t_msgs").style.display = "none";
            document.getElementById("free_c").style.display = "none";
            document.getElementById("premium_c").style.display = "none";
            document.getElementById("data_plan").style.display = "none";
            document.getElementById("data_speed").style.display = "none";
            document.getElementById("talk_unlimit").style.display = "none";
            document.getElementById("text_unlimit").style.display = "none";
        } 
    }
</script>

