<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%'>
  <tr> 
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
				<% if current_user.is_super_admin? %>
					<%= link_to "Add New Deal", new_deal_path %>
				<% end %>
      </div>

      <div class='title'>
        <span id='title'><%= image_tag("deals.png")%> Deals</span>
      </div>
      <div id="service_deals" class="list">
        <table id="service_deals_list" class="datatable" cellpadding='0' cellspacing='0' border='1'>
          <thead>
            <tr>
              <th><strong>Deal Id</strong></th>
              <th><strong>Category ID</strong></th>
              <th><strong>Category</strong></th>
              <th><strong>Provider ID</strong></th>
              <th><strong>Provider</strong></th>
              <th><strong>Title</strong></th>
              <!--<th><strong>DealImage URL</strong></th>-->
              <th><strong>State</strong></th>
              <th><strong>City</strong></th>
              <th><strong>Zip</strong></th>
              <th><strong>Price</strong></th>
              <!--<th><strong>URL</strong></th>-->
              <th><strong>Upload Speed</strong></th>
              <th><strong>Download Speed</strong></th>
              <th><strong>CallMins</strong></th>
              <th><strong>TextMsgs</strong></th>
              <th><strong>TalkUnlimit</strong></th>
              <th><strong>TextUnlimit</strong></th>
              <!--<th><strong>Short Description</strong></th>-->
              <!--<th><strong>Detail Description</strong></th>-->
              <th><strong>Start Date</strong></th>
              <th><strong>End Date</strong></th>
              <!--<th><strong>Is Active ?</strong></th>-->
              <th><strong>Edit</strong></th>
            </tr>
          </thead>
          <tbody>
            <% @deals.each do |s_deal| %>
              <% if can? :read, s_deal %>
                <tr>
                <td><%= s_deal.id %></td>
                  <td><%= s_deal.service_category_id %></td>
                  <td><%= s_deal.service_category.name %></td>
                  <td><%= s_deal.service_provider_id %></td>
                  <td><%= s_deal.service_provider.name %></td>
                  <td><%= s_deal.title %></td>
                  <!--<td><%#= s_deal.image.url %></td>-->
                  <td><%= s_deal.state %></td>
                  <td><%= s_deal.city %></td>
                  <td><%= s_deal.zip %></td>
                  <td><%= s_deal.price %></td>
                  <td><%= s_deal.upload_speed %></td>
                  <td><%= s_deal.download_speed %></td>
                  <td><%= s_deal.call_minutes %></td>
                  <td><%= s_deal.text_messages %></td>
                  <td><%= s_deal.talk_unlimited %></td>
                  <td><%= s_deal.text_unlimited %></td>
                  <!--<td><%#= s_deal.url %></td>-->
                  <!--<td><%#= s_deal.short_description %></td>-->
                  <!--<td><%#= s_deal.detail_description %></td>-->
                  <td><%= s_deal.start_date %></td>
                  <td><%= s_deal.end_date %></td>
                  <!--<td><%#= s_deal.is_active %></td>-->
                  <td><%= (link_to 'Edit', edit_deal_path(s_deal)) if can? :manage, s_deal %> | <%= (link_to "Delete", s_deal, method: :delete, data: { confirm: "You sure?" }) if can? :manage, s_deal %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>      