<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%' >
  <tr> 
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
				<%= link_to "View All Deals", deals_path %>
      </div>
      <div class='title'>
        <span id='title'>Add a New Deal</span>
      </div>
				<%= form_for(@deal, :url => @deals) do |f| %>
					<br/>
					<% if @deal.errors.any? %>
  					<div id="error_explanation">
    					<div class="alert alert-danger">
      					The form contains <%= pluralize(@deal.errors.count, "error") %>.
    					</div>
    					<ul>
    						<% @deal.errors.full_messages.each do |msg| %>
      						<li><%= msg %></li>
    						<% end %>
    					</ul>
  					</div>
					<% end %>
				  <br/>
				  <div><span style="color:#4285F4"><i>Fields marked * are mandatory</i></span></div><br/>
				  <div>Service Category:<span id="mandat">*</span> <br />
				  <%= f.select :service_category_id, ServiceCategory.all.map { |r| [r.name, r.id]},{:include_blank => "---Select---"},:onchange=>"populate_service_provider(this);" %>
				  </div>
				  <div>Service Provider:<span id="mandat">*</span> <br />
				  <%= f.select :service_provider_id, [],{:include_blank => "---Select---"} %>
				  </div>
         
				  <div>Title:<span id="mandat">*</span><br />
				  <%= f.text_field :title %></div>
				  <div>Image:<span id="mandat">*</span><br/>
				  <%= f.file_field :image %></div>
				  <%= f.hidden_field :image_cache %>
				  <div>Price:<span id="mandat">*</span> <br />
				  <%= f.text_field :price %></div>
				  
				  <div>URL:<span id="mandat">*</span><br />
				  <%= f.text_field :url %></div>
				  <div>Enter a Short Description:<span id="mandat">*</span> <br />
				  <%= f.text_area :short_description %></div>
				  <div>Enter Detail Description:<span id="mandat">*</span> <br />
				  <%= f.text_area :detail_description %></div>
		          <div><%= f.check_box :is_nationwide, :checked=>'checked' %> Is Nationwide? </div>
		          <%= f.label 'Exclude Zipcodes:' %>
		          <%= f.select :zipcode_ids, Zipcode.all.map { |r| [r.code+' - '+r.city, r.id] },{},{ multiple: true,size: 10 } %>

		          <div><%= f.check_box :is_business %> Is Business? </div>
						  <div>Start Date:<span id="mandat">*</span><br />
						  <%= f.text_field :start_date %></div>
						  <div>End Date:<span id="mandat">*</span><br />
						  <%= f.text_field :end_date %></div>
						  <div><%= f.check_box :is_active %> Is Active? </div>

		          <%= f.fields_for :internet_deal_attributes do |builder| %>
		            <%= render 'internet_attribute', f: builder %>
		          <% end %>

		          <%= f.fields_for :telephone_deal_attributes do |builder| %>
		            <%= render 'telephone_attribute', f: builder %>
		          <% end %>
		            <%= f.fields_for :additional_offers do |builder| %>
			           <%= render 'additional_offer', f: builder %>
			        <% end %>
			        

				  <div><%= f.submit "Create" %></div>
				<% end %>
			
    </td>
	</tr>
</table>

