<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%' >
  <tr> 
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
				<%= link_to "View All Deals", deals_path %>
      </div>
      <div class='title'>
        <span id='title'>Add a New Deal</span>
      </div>

			<div class="small-6 large-centered columns">
				<%= form_for(@deal, :url => @deals) do |f| %>
					<br/>
					<% if @deal.errors.any? %>
  					<div id="error_explanation">
    					<div class="alert alert-danger">
      					The form contains <%= pluralize(@deal.errors.count, "error") %>.
    					</div>
    					<ul>
    						<% @deal.errors.full_messages.each do |msg| %>
      						<li><%= msg %></li>
    						<% end %>
    					</ul>
  					</div>
					<% end %>
				  <br/>
				  <div><span style="color:#4285F4"><strong><i>Fields marked * are mandatory</i></strong></span></div><br/>
				  <div><strong>Service Category:<span id="mandat">*</span> </strong><br />
				  <%= f.select :service_category_id, ServiceCategory.all.map { |r| [r.name, r.id]},{:include_blank => "Select Category"},:onchange=>"populate_service_provider(this); yesnoCheck(this);" %>
				  </div>
				  <div><strong>Service Provider:<span id="mandat">*</span> </strong><br />
				  <%= f.select :service_provider_id, [],{:include_blank => "Select Provider"} %>
				  </div>
				  <div><strong>Title:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :title %></div>
				  <div><strong>Deal Image:<span id="mandat">*</span></strong><br/>
				  <%= f.file_field :image %></div>
				  <%= f.hidden_field :image_cache %>
				  <div><strong>State:<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :state %></div>
				  <div><strong>City: </strong><br />
				  <%= f.text_field :city %></div>
				  <div><strong>Zip:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :zip %></div>
				  <div><strong>Price:<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :price %></div>
				  <div id = "u_speed" style="display: none;"><strong>Upload Speed:<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :upload_speed %></div>
				  <div id="d_speed" style="display: none;"><strong>Download Speed:<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :download_speed %></div>
				  <div><strong>URL:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :url %></div>
				  <div><strong>Enter a Short Description:<span id="mandat">*</span> </strong><br />
				  <%= f.text_area :short_description %></div>
				  <div><strong>Enter Detail Description:<span id="mandat">*</span> </strong><br />
				  <%= f.text_area :detail_description %></div>
				  <!--<div><strong>You Save Text:<span id="mandat">*</span></strong><br />
				  <%#= f.text_field :you_save_text %></div>-->
				  <div><strong>Start Date:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :start_date %></div>
				  <div><strong>End Date:<span id="mandat">*</span></strong><br />
				  <%= f.text_field :end_date %></div>
				  <div><%= f.check_box :is_active %> <strong>Is Active ? </strong></div>
				  <div><%= f.submit "Create" %></div>
				<% end %>
			</div>
    </td>
	</tr>
</table>
<script>
    function yesnoCheck(that) {
        alert("ok");
        if (that.value == "1") {
            alert("check");
            document.getElementById("u_speed").style.display = "block";
            document.getElementById("d_speed").style.display = "block";
        } else {
            document.getElementById("u_speed").style.display = "none";
            document.getElementById("d_speed").style.display = "none";
        } 
    }
</script>

