<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%'>
	<tr>
		<td class='main' id='main' valign='top'>
			<div class='title_tools'>
				<% if current_user.is_super_admin? %>
					<%= link_to "Create New Service Provider", new_service_provider_path %>
				<% end %>
			</div>
			<div class='title'>
				<span id='title'>Service Providers</span>
			</div>
			<div id="users" class="list">
				<div>
          			<h6>Import from CSV</h6>
			          <%= form_tag import_service_providers_path, multipart: true do %>
			            <%= file_field_tag :file %>
			            <%= submit_tag "Import CSV" %>
			          <% end %></br>
		        </div>
				<table id="users_list" class="datatable" cellpadding='0' cellspacing='0' border='1'>
					<thead>
						<tr>
							<th><strong>Service Category</strong></th>
							<th><strong>Name</strong></th>
							<th><strong>Address</strong></th>
							<th><strong>State</strong></th>
							<th><strong>City</strong></th>
							<th><strong>Zip</strong></th>
							<th><strong>Email</strong></th>
							<th><strong>Telephone</strong></th>
							<th><strong>Is preferred?</strong></th>
							<th><strong>Is Active? </strong></th>
							<th><strong>Action</strong></th>
						</tr>
					</thead>
					<tbody>
						<% @service_providers.each do |service_provider| %>
							<% if can? :read, service_provider %>
							<% if service_provider.service_category_id.present? %>
								<tr>
									<td><%= service_provider.service_category.name if service_provider.service_category.name.present? %></td>
									<td><%= service_provider.name %></td>
									<td><%= service_provider.address %></td>
									<td><%= service_provider.state %></td>
									<td><%= service_provider.city %></td>
									<td><%= service_provider.zip %></td>
									<td><%= service_provider.email %></td>
									<td><%= service_provider.telephone %></td>
									<td><%= service_provider.is_preferred %></td>
									<td><%= service_provider.is_active %></td>
									<td><%= (link_to 'Edit', edit_service_provider_path(service_provider)) if can? :manage, service_provider %> | <%= (link_to "Delete", service_provider, method: :delete, data: { confirm: "You sure?" }) if can? :manage, service_provider %></td>
								</tr>
							<% end %>	
							<% end %>
						<% end %>
					</tbody>
				</table>
				<p>
          Download:
          <%= link_to "CSV", service_providers_path(format: "csv") %>
          <%#= link_to "Excel", service_categories_path(format: "xls") %>
        </p>
			</div>
		</td>
	</tr>
</table>