<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%' >
  <tr> 
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
				<%= link_to "View All Service Providers", service_providers_path %>
      </div>
      <div class='title'>
        <span id='title'>Add a New Service Provider</span>
      </div>

				<%= form_for(@service_provider, :url => @service_providers) do |f| %>
					<br/>
					<% if @service_provider.errors.any? %>
  					<div id="error_explanation">
    					<div class="alert alert-danger">
      					The form contains <%= pluralize(@service_provider.errors.count, "error") %>.
    					</div>
    					<ul>
    						<% @service_provider.errors.full_messages.each do |msg| %>
      						<li><%= msg %></li>
    						<% end %>
    					</ul>
  					</div>
					<% end %>
				  <br/>
				  <div><span style="color:#4285F4"><strong><i>Fields marked * are mandatory</i></strong></span></div><br/>
				  <div><strong>Select a Service Category :<span id="mandat">*</span>  </strong><br />
				  <%= f.select :service_category_id, ServiceCategory.all.map { |r| [r.name, r.id]}, {:include_blank => "Select a service category"}%>
				  </div>
				  <div><strong>Service Provider Name:<span id="mandat">*</span> </strong><br />
				  <%= f.text_field :name %></div>
				  <div><strong>Service Provider Logo:<span id="mandat">*</span> </strong><br/>
				  <%= f.file_field :logo %></div>
				  <div><strong>Address:</strong><br />
				  <%= f.text_field :address %></div>
				  <div><strong>State:</strong><br />
				  <%= f.text_field :state %></div>
				  <div><strong>City:</strong><br />
				  <%= f.text_field :city %></div>
				  <div><strong>Zip:</strong><br />
				  <%= f.text_field :zip %></div>
				  <div><strong>Email:</strong><br />
				  <%= f.text_field :email %></div>
				  <div><strong>Telephone:</strong><br />
				  <%= f.text_field :telephone %></div>
				  <div><strong>Is a preferred service provider : </strong>
				  <%= f.check_box :is_preferred %></div>
				  <div><strong>Is Active : </strong>
				  <%= f.check_box :is_active %></div>
				  <div><%= f.submit "Create" %></div>
				<% end %>
			
    </td>
	</tr>
</table>

