<div class="form-area">
  <%=form_for(:service_preferences, :url=>"/edit_or_change_service_preferences", :method=>"post") do %>
  <%=hidden_field_tag("service_category_name",ServiceCategory.get_category_name_by_id(params[:category_id]))%>
  <%=hidden_field_tag("service_category_id",params[:category_id])%>
  <% @providers=ServiceProvider.where(:service_category_id=>params[:category_id]).pluck(:name)%>
  <%=hidden_field_tag("app_user_id",session[:user_id])%>
  <%=hidden_field_tag("from_site","true")%>
    <% @providers=ServiceProvider.where(:service_category_id=>params[:category_id]).pluck(:name)%>
      <select class="form-control" name="service_provider_name">
        <%= options_for_select(@providers, :prompt=>"Select", :value=>@providers) %>
      </select> <br />
    <%= number_field_tag(:price,"",:class=>"form-control", :placeholder=>"Enter price")%><br />
    <p>Contract Date</p>
    <%= check_box_tag "is_contract", false, :class=>"form-control"%>No Contract
    <%= date_field_tag(:start_date,"", :class=>"form-control")%><br />
    <%= date_field_tag(:end_date,"", :class=>"form-control")%><br />
    <div class="row">
      <div class="col-md-4">
        <input type="checkbox" id="cable-cb" text="Cable" value="Cable" onchange="showcable()" />Cable
      </div>
      <div class="col-md-4">
        <input type="checkbox" id="internet-cb" value="internet" onchange="showinternet()" />Internet
      </div>
      <div class="col-md-4">
        <input type="checkbox" id="telephone-cb" value="telephone"  onchange="showtelephone()" />telephone
      </div>
    </div>
    <hr />
    <div id="cable-div" class="cable-div hidden">
        <p>Cable</p>
      <div class="row">
        <div class="col-md-6">
          <%=text_field_tag "free_channels","",:class=>"form-control", :placeholder=>"free Channels"%>
        </div>
        <div class="col-md-6">
        <%=text_field_tag "premium_channels","",:class=>"form-control", :placeholder=>"premium Channels"%>
        </div>
      </div>
    </div>
    <hr />
    <div id="internet-div" class="internet-div hidden">
        <p>Internet</p>
      <div class="row">
        <div class="col-md-6">
          <%=text_field_tag "download_speed","",:class=>"form-control", :placeholder=>"Download (Mbps)"%>
        </div>
        <div class="col-md-6">
        <%=text_field_tag "upload_speed","",:class=>"form-control", :placeholder=>"Upload (Mbps)"%>
        </div>
      </div>
    </div>
    <hr />
    <div id="telephone-div" class="telephone-div hidden">
      <p>Telephone</p>
      <div class="row">
        <div class="col-md-6">
           <%= check_box_tag "domestic_call_unlimited", "", :class=>"form-control", :onchange=>"resetcontractdate()"%>Unlimited
        </div>
        <div class="col-md-6">
          <%=number_field_tag(:domestic_call_minutes, "", :class=>"form-control", :placeholder=>"minutes")%><br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
             <%= check_box_tag "international_call_unlimited", "", :class=>"form-control", :onchange=>"resetcontractdate()"%>unlimited
        </div>
        <div class="col-md-6">
          <%=number_field_tag(:international_call_minutes, "", :class=>"form-control", :placeholder=>"minutes")%><br />
        </div>
      </div>
    </div>
    </div>
    <%=hidden_field_tag("plan_name","none")%>
    <%= submit_tag("Save", :class=>"btn btn-success search-btn")%>
    <%end%>
  </div>
  <script>
  $(document).ready(function(){
    $("#international_call_unlimited").prop("checked",false);
    $("#domestic_call_unlimited").prop("checked",false);
  })

  $("#domestic_call_unlimited").on("change",function(){
    if($("#domestic_call_unlimited").prop("checked")==true){
      $("#domestic_call_minutes").attr("disabled",true);
      $("#domestic_call_unlimited").val("true");
    }
    else {
      $("#domestic_call_minutes").attr("disabled",false);
      $("#domestic_call_unlimited").val("false");
    }
  });

  $("#international_call_unlimited").on("change",function(){
    if($("#international_call_unlimited").prop("checked")==true){
      $("#international_call_minutes").attr("disabled",true);
      $("#domestic_call_unlimited").val("true");
    }
    else {
      $("#international_call_minutes").attr("disabled",false);
      $("#domestic_call_unlimited").val("false");
    }
    $("#is_contract").prop("checked",false);
    $("#is_contract").on("change",function(){
      if($("#is_contract").prop("checked")==true){
        $("#start_date").attr("disabled",true);
        $("#end_date").attr("disabled",true);
      }
      else {
        $("#start_date").attr("disabled",false);
        $("#end_date").attr("disabled",false);
      }
    })
  });


  function resetcontractdate(){
    if($("#nocontractcb").prop("checked")==true){
      $("#start_date").attr("disabled",true);
      $("#end_date").attr("disabled",true);
    }
    else {
      $("#start_date").attr("disabled",false);
      $("#end_date").attr("disabled",false);
    }
  }
  function resetdomestic(){
    console.log("Sss");
      if( $("#ul-domestic").prop("checked")==true){
        $("#domestic_minutes").attr("disabled",true);
      }
      else {
        $("#domestic_minutes").attr("disabled",false);
      }
  }
  function resetinternat(){
    console.log("sSss");
      if( $("#ul-domestic").prop("checked")==true){
        $("#international_minutes").attr("disabled",true);
      }
      else {
        $("#international_minutes").attr("disabled",false);
      }
  }

  function showcable(){
     if($("#cable-cb").prop("checked")==true)
     {
       $("#cable-div").removeClass("hidden");
     }
     else {
       $("#cable-div").addClass("hidden");
     }
  }

    function showinternet(){

     if($("#internet-cb").prop("checked")==true)
     {
       $("#internet-div").removeClass("hidden");
     }
     else {
       $("#internet-div").addClass("hidden");
     }

    }

    function showtelephone(){
       if($("#telephone-cb").prop("checked")==true)
       {
         $("#telephone-div").removeClass("hidden");
       }
       else {
         $("#telephone-div").addClass("hidden");
       }
    }

  </script>
