<div class="form-area">
  <%
  if session[:user_id].present? and ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id]).present?
    @service_preferences_data=ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id])
   service_provider_name=@service_preferences_data[0].service_provider_name
   service_provider_id=@service_preferences_data[0].service_provider_id

   price=@service_preferences_data[0].price
   is_contract=@service_preferences_data[0].is_contract
   start_date=@service_preferences_data[0].start_date
   end_date=@service_preferences_data[0].end_date
   plan_name= @service_preferences_data[0].plan_name
   @bundle_preferences=BundleServicePreference.where(:service_preference_id=>@service_preferences_data[0].id)
   if @bundle_preferences.present?
     download_speed=@bundle_preferences[0].download_speed
     upload_speed=@bundle_preferences[0].upload_speed
     free_channels=@bundle_preferences[0].free_channels
     premium_channels=@bundle_preferences[0].premium_channels
     domestic_call_minutes=@bundle_preferences[0].domestic_call_minutes
     international_call_minutes=@bundle_preferences[0].international_call_minutes
   end
   end
  %>
   <%=form_for(:service_preferences, :url=>"/edit_or_change_service_preferences", :method=>"post", :html=>{:id=>"bundle_form"}) do %>
  <%=hidden_field_tag("service_category_name",ServiceCategory.get_category_name_by_id(params[:category_id]))%>
  <%=hidden_field_tag("service_category_id",params[:category_id])%>
  <% @providers=ServiceProvider.where(:service_category_id=>params[:category_id]).pluck(:name)%>
  <%=hidden_field_tag("app_user_id",session[:user_id])%>
  <%=hidden_field_tag("from_site","true")%>
  <%hidden_field_tag("bundle_combo","")%>
    <% @providers=ServiceProvider.where(:service_category_id=>params[:category_id]).pluck(:name,:id)%>
    <div class="col-md-6">
      <select class="form-control" id="service_provider_id" name="service_provider_id">
        <%= options_for_select(@providers, :prompt=>"Select", :value=>@providers) %>
      </select> </div>
      <div class="col-md-6">
    <%= number_field_tag(:price,price.present? ? "%.2f" % price : 100,:class=>"form-control", :placeholder=>"Enter price", :required=>true)%>
  </div>
    <p class="contract-margin-sty">Contract Date</p>
    <div class="checkbox checkbox-info no-contract-sty">
      <%= check_box_tag "is_contract",true, :class=>"form-control"%>
        <label for="is_contract"> <span>No Contract </span> </label>


    </div>
    <div class = "col-md-6"><%= text_field_tag(:start_date,"", :class=>"form-control",:placeholder  =>"Start Date")%></div>
    <div class = "col-md-6"><%= text_field_tag(:end_date,"", :class=>"form-control",:placeholder  =>"End Date")%></div>
    <div class="row">
      <div class="col-md-4">
        <div class="checkbox checkbox-info no-contract-sty mgt25">
            <input type="checkbox" id="cable-cb0" text="Cable" value="Cable" onchange="showcable0()" />
          <label for="cable-cb0"> <span>Cable </span> </label>
          </div>
      </div>
      <div class="col-md-4">
        <div class="checkbox checkbox-info no-contract-sty mgt25">
          <input type="checkbox" id="internet-cb0" value="internet" onchange="showinternet0()" />
          <label for="internet-cb0"> <span>Internet </span> </label>
        </div>
      </div>
      <div class="col-md-4">

      <div class="checkbox checkbox-info no-contract-sty mgt25">
        <input type="checkbox" id="telephone-cb0" value="telephone"  onchange="showtelephone0()" />
        <label for="telephone-cb0"> <span>telephone </span> </label>
      </div>

      </div>
    </div>

    <div id="cable-div0" class="cable-div hidden col-md-12">
      <hr />
        <p>Cable</p>
      <div class="row">
        <div class="col-md-6">
          <%=text_field_tag "free_channels",free_channels,:class=>"form-control", :placeholder=>"free Channels"%>
        </div>
        <div class="col-md-6">
        <%=text_field_tag "premium_channels",premium_channels,:class=>"form-control", :placeholder=>"premium Channels"%>
        </div>
      </div>
    </div>

    <div id="internet-div0" class="internet-div hidden col-md-12">
      <hr />
        <p>Internet</p>
      <div class="row">
        <div class="col-md-6">
          <%=text_field_tag "download_speed",download_speed.present? ? download_speed: 50,:class=>"form-control", :placeholder=>"Download (Mbps)"%>
        </div>
        <div class="col-md-6">
        <%=text_field_tag "upload_speed",upload_speed,:class=>"form-control", :placeholder=>"Upload (Mbps)"%>
        </div>
      </div>
    </div>

    <div id="telephone-div0" class="telephone-div hidden col-md-12">
        <hr />
      <p>Telephone</p>
      <div class="row">
        <div class="col-md-6">
         <div class="checkbox checkbox-info no-contract-sty mgt25">
           <%= check_box_tag "domestic_call_unlimited", "", :class=>"form-control", :onchange=>"resetcontractdate()"%>
           <label for="domestic_call_unlimited"> <span>Unlimited </span> </label>
         </div>
      </div>
      <div class="col-md-6">
        <%=number_field_tag(:domestic_call_minutes, domestic_call_minutes.present? ? domestic_call_minutes : 500, :class=>"form-control", :placeholder=>"minutes")%><br />
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
             <div class="checkbox checkbox-info no-contract-sty mgt25">
               <%= check_box_tag "international_call_unlimited", "", :class=>"form-control", :onchange=>"resetcontractdate()"%>
               <label for="international_call_unlimited"> <span>Unlimited </span> </label>
               </div>
        </div>
        <div class="col-md-6">
          <%=number_field_tag(:international_call_minutes,international_call_minutes.present? ? international_call_minutes :300, :class=>"form-control", :placeholder=>"minutes")%><br />
        </div>
      </div>
    </div>
    <%=hidden_field_tag("plan_name","none")%>


    <div class="col-md-12 text-center">
    <div class="col-md-6">
      <%= submit_tag("Save", :class=>"btn save-button")%>
    </div>
    <div class="col-md-6">
      <%if @service_preferences_data.present?%>
      <%= button_tag("Unsubscribe", :class=>"btn skip-button", :onclick=>"Unsubscribe()")%>
      <%end%>
    </div>
    </div>

    <div class="col-md-12"><p id="msg" class="alert alert-danger hidden"></p></div>
    <%end%>
  </div>
  <script>
  <%if session[:user_id].present?%>
  function Unsubscribe()
  {
    event.preventDefault();
    $.ajax({
      url:"/api/v1/deselect_prference",
      type:"POST",
      data: {
        app_user_id:<%=session[:user_id]%>,
        category:<%=params[:category_id]%>
      },
      success: function(d){
        console.log(d);
        if(d["success"] == true){
          location.reload();
        }
      }
    });
  }
  <%end%>
  $(document).ready(function(){
    $("#international_call_unlimited").prop("checked",false);
    $("#domestic_call_unlimited").prop("checked",false);

    $("#is_contract").prop("checked",false);
    $("#is_contract").on("change",function(){
      if($("#is_contract").prop("checked")==true){
        $("#start_date").attr("disabled",true);
        $("#end_date").attr("disabled",true);
        $("#is_contract").val(false);
      }
      else {
        $("#start_date").attr("disabled",false);
        $("#end_date").attr("disabled",false);
        $("#is_contract").val(true);
      }
    });
    <%if service_provider_id.present?%>
    set_service_provider("<%=service_provider_id.present? ? service_provider_id : 12%>");
    function set_service_provider(id) {
      if (id!=null && id!=""){
      $("#service_provider_id option[value="+id+"]").attr('selected','selected');
    }
    }
    <%end%>
  })

  $("#domestic_call_unlimited").on("change",function(){
    if($("#domestic_call_unlimited").prop("checked")==true){
      $("#domestic_call_minutes").attr("disabled",true);
      $("#domestic_call_unlimited").val("true");
    }
    else {
      $("#domestic_call_minutes").attr("disabled",false);
      $("#domestic_call_unlimited").val("false");
    }
  });

  $("#international_call_unlimited").on("change",function(){
    if($("#international_call_unlimited").prop("checked")==true){
      $("#international_call_minutes").attr("disabled",true);
      $("#domestic_call_unlimited").val("true");
    }
    else {
      $("#international_call_minutes").attr("disabled",false);
      $("#domestic_call_unlimited").val("false");
    }
  });


  function resetcontractdate(){
    if($("#nocontractcb").prop("checked")==true){
      $("#start_date").attr("disabled",true);
      $("#end_date").attr("disabled",true);
    }
    else {
      $("#start_date").attr("disabled",false);
      $("#end_date").attr("disabled",false);
    }
  }
  function resetdomestic(){
      if( $("#ul-domestic").prop("checked")==true){
        $("#domestic_minutes").attr("disabled",true);
      }
      else {
        $("#domestic_minutes").attr("disabled",false);
      }
  }
      if( $("#ul-international").prop("checked")==true){
        $("#international_minutes").attr("disabled",true);
      }
      else {
        $("#international_minutes").attr("disabled",false);
      }


  function showcable0(){
      if($("#cable-cb0").prop("checked")==true)
     {
       $("#cable-div0").removeClass("hidden");
     }
     else {
       $("#cable-div0").addClass("hidden");
     }
  }

    function showinternet0(){

     if($("#internet-cb0").prop("checked")==true)
     {
       $("#internet-div0").removeClass("hidden");
     }
     else {
       $("#internet-div0").addClass("hidden");
     }

    }

    function showtelephone0(){
       if($("#telephone-cb0").prop("checked")==true)
       {
         $("#telephone-div0").removeClass("hidden");
       }
       else {
         $("#telephone-div0").addClass("hidden");
       }
    }
 function check0(){
   var status=0;
   if(($("#internet-cb0").prop("checked")==true && $("#cable-cb0").prop("checked")==true)  ||
      ($("#internet-cb0").prop("checked")==true && $("#telephone-cb0").prop("checked")==true) ||
      ($("#cable-cb0").prop("checked")==true && $("#telephone-cb0").prop("checked")==true) )
     {
     if ($("#internet-cb0").prop("checked")==true && ($("#download_speed").val()=="" || $("#upload_speed").val()=="")) {
        $("#msg").text("Please Fill in all fields").removeClass("hidden");
     }
     else {
       status+=1;
     }
     if ($("#cable-cb0").prop("checked")==true && ($("#free_channels").val()=="" || $("#premium_channels").val()=="")) {
        $("#msg").text("Please Fill in all fields").removeClass("hidden");
     }
     else {
       status+=1;
     }
     if ($("#internet-cb0").prop("checked")==true && ($("#download_speed").val()=="" || $("#upload_speed").val()=="")) {
        $("#msg").text("Please Fill in all fields").removeClass("hidden");
     }
     else {
       status+=1;
     }
     if(status>=2 && $("#price").val()!=""){
      if($("#internet-cb").prop("checked")==true && $("#cable-cb0").prop("checked")==true){
        $("#bundle_combo").val("Internet and Cable");
      }
      if($("#internet-cb0").prop("checked")==true && $("#telephone-cb0").prop("checked")==true){
        $("#bundle_combo").val("Internet and Telephone");
      }
      if($("#cable-cb0").prop("checked")==true && $("#telephone-cb0").prop("checked")==true){
        $("#bundle_combo").val("Cable and Telephone");
      }
      if($("#cable-cb0").prop("checked")==true && $("#telephone-cb0").prop("checked")==true && $("#internet-cb0").prop("checked")==true){
        $("#bundle_combo").val("Internet,Telephone and Cable");
      }
      $("#bundle_form").submit();
    }
    else {
      $("#msg").text("Please Enter Price").removeClass("hidden");
    }
  }
   else {
     console.log(" not ok status="+status);
     event.preventDefault();
     $("#msg").text("Please Select Atleast 2 services").removeClass("hidden");
   }
 }
  </script>
