<div class="form-area">
  <%

  if @current_user.present? and ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id]).present?
    @service_preferences_data=ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id])
   service_provider_name=@service_preferences_data[0].service_provider_name
   service_provider_id=@service_preferences_data[0].service_provider_id
   price=@service_preferences_data[0].price
   is_contract=@service_preferences_data[0].is_contract
   start_date=@service_preferences_data[0].start_date
   end_date=@service_preferences_data[0].end_date
   @Cable_preferences=CableServicePreference.where(:service_preference_id=>@service_preferences_data[0].id)
   if @Cable_preferences.present?
     free_channels=@Cable_preferences[0].free_channels
     premium_channels=@Cable_preferences[0].premium_channels
   end
 end
  %>

  <%=form_for(:service_preferences, :url=>"/edit_or_change_service_preferences", :method=>"post") do %>
  <%=hidden_field_tag("service_category_name",ServiceCategory.get_category_name_by_id(params[:category_id]))%>
  <%=hidden_field_tag("service_category_id",params[:category_id])%>
  <% @providers=ServiceProvider.where(:service_category_id=>params[:category_id]).pluck(:name, :id)%>
  <%=hidden_field_tag("app_user_id",session[:user_id])%>
  <%=hidden_field_tag("from_site","true")%>

    <div class="col-md-6">
    <select class="form-control" id="service_provider_id" name="service_provider_id">
    <%= options_for_select(@providers, :prompt=>"Select", :value=> @providers) %>
    </select>
    </div>

    <div class="col-md-6">
    <%= number_field_tag("price",price.present? ? "%.2f" % price : 75,:class=>"form-control", :placeholder=>"Enter price", :required=>true)%>
    </div>

    <div class="col-md-6 mg_bttom20">
    <div class="checkbox checkbox-info no-contract-sty">
    <%= check_box_tag "is_contract", false, :class=>"form-control"%>
    <label for="is_contract"> <span>No Contract </span> </label>
    </div>
    </div>

    <div class="col-md-6 mg_bttom20">
    <p class="contract-margin-sty">Contract Date</p>
    </div>

    <div class="col-md-6 mgt20 mg_bttom20"><%= text_field_tag("start_date",start_date, :class=>"form-control", :placeholder=>"Start Date")%></div>
    <div class="col-md-6 mgt20 mg_bttom20"><%= text_field_tag("end_date", end_date, :class=>"form-control", :placeholder=>"End Date")%></div>
    <div class="col-md-6 mgt20 mg_bttom20"><%= number_field_tag("free_channels", free_channels.present? ? free_channels : 150, :class=>"form-control", :placeholder=>"free channels", :required=>true)%></div>
    <div class="col-md-6 mgt20 mg_bttom20"><%= number_field_tag("premium_channels",premium_channels.present? ? premium_channels : 0, :class=>"form-control", :placeholder=>"Premium channels", :required=>true)%></div>
    <%=hidden_field_tag("plan_name","none")%>

    <div class="col-md-12 text-center">
    <div class="col-md-6">
    <%= submit_tag("Save", :class=>"btn save-button")%>
    </div>
    <div class="col-md-6">
    <%if @service_preferences_data.present?%>
    <%= button_tag("Unsubscribe", :class=>"btn skip-button", :onclick=>"Unsubscribe()")%>
    <%end%>
    </div>
    </div>

    <%end%>
  </div>
  <script>
  <%if session[:user_id].present?%>
  function Unsubscribe()
  {
    event.preventDefault();
    $.ajax({
      url:"/api/v1/deselect_prference",
      type:"POST",
      data: {
        app_user_id:<%=session[:user_id]%>,
        category:<%=params[:category_id]%>
      },
      success: function(d){
        console.log(d);
        if(d["success"] == true){
          location.reload();
        }
      }
    });
  }
  <%end%>
  $(document).ready(function(){
    $("#is_contract").prop("checked",false);
    $("#is_contract").on("change",function(){
      if($("#is_contract").prop("checked")==true){
        $("#start_date").attr("disabled",true);
        $("#end_date").attr("disabled",true);
      }
      else {
        $("#start_date").attr("disabled",false);
        $("#end_date").attr("disabled",false);
      }
    });
    <%if service_provider_id.present?%>
      set_service_provider("<%=service_provider_id%>")
      function set_service_provider(id) {
      $("#service_provider_id option[value="+id+"]").attr('selected','selected');
    }
    <%end%>
  })

  </script>
