<% deal_attributes =  customized_deals['deal_attributes'] 
deal_equipments = customized_deals['deal_equipments'] 
deal_extra_services = customized_deals['deal_extra_services'] 
deal_channel_packages = customized_deals['channel_packages']
 %>

<section>
<div class='equipments-details col-md-12'>	
	<h5>Choose Your Custom TV Plan</h5>
	<div id="deal_attributes" class="owl-carousel">
	<% deal_attributes.each do |deal_attribute| %>
		<div class="text-center">
			<div class="sd-deal-sty">
				<h6><%= deal_attribute["title"]%></h6>	
				<p><%=deal_attribute["channel_count"]%>+ Channels</p>	
				<p><%= deal_attribute["hd_channels"]%>+ HD</p>	
				<p><%= deal_attribute["description"]%></p>	
				<p>Price $<%= deal_attribute["amount"]%>/mo</p>	
				<div class="text-left">
					<div class="checkbox checkbox-info">
					<input type="checkbox" id="deal_attribute_<%=deal_attribute['id']%>" name="deal_attributes" 
					val="<%=deal_attribute['id']%>_<%= deal_attribute["amount"]%>" />
					<%#=deal_attribute['data_plan_price'].to_f %>
					<label for="deal_attribute_<%=deal_attribute['id']%>" >Select</label>
		  	</div>
		  </div>
			</div>
		</div>
	<% end %>
</div>
</div>







<div class='equipments-details col-md-12'>	
	<h5>Get More With Premium Channels</h5>
	 <div id="channel_package" class="owl-carousel">
	<% deal_channel_packages.each do |deal_channel_package| %>
		<div class="text-center">
			<div class="sd-deal-sty " style="height:250px">
				<h6><%= deal_channel_package["package_name"]%></h6>	
				<p><%=deal_channel_package["channel_count"]%>+Channels</p>	
				<p>Domestic minutes <%= deal_channel_package["description"]%></p>	
				<p>Price $<%= deal_channel_package["price"]%>/mo</p>	
				<div class="text-left">
					<div class="checkbox checkbox-info">
					<input type="checkbox" id="deal_channel_package_<%=deal_channel_package['id']%>" name="deal_channel_packages" 
					val="<%=deal_channel_package['id']%>_<%= deal_channel_package["price"]%>" />
					<label for="deal_channel_package_<%=deal_channel_package['id']%>" >Select</label>
				</div>
		  	</div>
			</div>
		</div>
	<% end %>
</div>
</div>


<div class='equipments-details col-md-12'>	
	<h5>Cable Equipments</h5>
	<div id="cable_deal_equipments" class="owl-carousel">
	<% deal_equipments.each do |deal_equipment| %>
		<div class="text-center">
			<div class="sd-deal-sty" style="height: 200px;">
				<h6><%= deal_equipment["name"]%></h6>	
				<!-- <p>Data Plan Price: $<%#=deal_equipment["data_plan_price"]%></p>	 -->
				<!-- <p>Domestic minutes <%#= deal_equipment["domestic_call_minutes"]%></p>	 -->
				<p>Price $<%= deal_equipment["price"]%>/mo</p>	
				<div class="text-left">
					<div class="checkbox checkbox-info">
					<input type="checkbox" id="cable_deal_equipment_<%=deal_equipment['id']%>" name="cable_deal_equipments" 
					val="<%=deal_equipment['id']%>_<%=deal_equipment['price'].to_f%>" />
					<label for="cable_deal_equipment_<%=deal_equipment['id']%>" >Select</label>
		  	</div>
		  </div>
			</div>
		</div>
	<% end %>
</div>
</div>






<!-- <div class='equipments-details col-md-12'>	
	<h5>Deals Extra Services</h5>
	<div class="row"> -->
		<%# deal_extra_services.each do |deal_extra_service| %>
			<!-- <div class=" col-md-4 text-center">
				<div class="sd-deal-sty" style="height: 160px;">
					<h6><%#=deal_extra_service["service_name"]%></h6> -->
					<!-- <p><%#=deal_extra_service["service_description"]%></p>
					<div class="equip-price"> <span>$ <%#="%.2f" % deal_extra_service["price"]%></span> </div>
					<div class="text-left"> -->
						<!-- <input name="deal_extra_services" type="checkbox" id="deal_extra_service_<%#=deal_extra_service['id']%>" 
						val="<%#=deal_extra_service['id']%>_<%#=deal_extra_service['price']%>" />
						<label for="deal_extra_services_<%#=deal_extra_service['id']%>" >Select</label> -->
	<!-- 			  </div>
				</div>
			</div>
		<%# end %>
	</div>
</div> -->
</section>

<script>
 $('#cable_deal_equipments,#deal_attributes,#channel_package').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
   items:3,
  });
</script>
	