<% @best_deal_data.each do |data| %>
  <%if data[:service_category_id] == params[:category_id].to_i %>
    <% if data[:best_deal].present? %>
      <% best_deal = data[:best_deal] %>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <div class="border-radius-bg auto-height">
          <div class="best-trending-sty"><img src="/assets/website/best_deal.png" alt=""></div>
          <div class="vertical_middle" style="overflow: hidden;width:215px">
          <img src="<%= best_deal['deal_image_url'] %>" class="img-responsive" alt="">
        </div>
        <div class="main-external-div1">
          <h5><%= best_deal['title'].truncate(25) %></h5>
          <ul class="description-height">
            <li><%= best_deal['short_description'].truncate(30) %></li>
            <li><%= best_deal['detail_description'].truncate(30) %></li>
          </ul>
          <% if params[:category_id].to_i == Deal::CELLPHONE_CATEGORY %>
            <b class="cellphone-lines">Lines:<%=data['no_of_lines'] %></b>
          <% end %>
          <%rating=CommentRating.where(:deal_id => best_deal["id"]).average(:rating_point).to_i%>

          <%if rating.present?%>
           <p id="rating" class="sd-rating">

              <%rating.times do%>
               <i class="fa fa-star"></i>
              <%end%>
              <%rev=5-rating%>
              <%rev.times do%>
              <i class="fa fa-star-o"></i>
              <%end%>
              <%else%>
              <%5.times do%>
              <i class="fa fa-star-o"></i>
              <%end%>

           </p>



          <%end%><br /><a class="sd-more-details" href="<%= more_deal_details_website_home_index_path(:deal_id=> best_deal['id']) %>"> More Details</a>

      </div>
        <div class="box_down">
          <span class="separator_2"></span>
           <div class="sd-dealprices">
                 <div class="sd-best-price">
              Price
              <span>$<%= best_deal['deal_price'] %>/mo</span>
            </div>
             <div class="sd-effective-price">
              Effective price
              <span>$<%= best_deal['effective_price'] %>/mo</span>
            </div>
            <div style="float:left; width:100%">
              <%if data["you_save"].to_i > 0%>
              <b>You save:</b> <span style="color:#e0b03c"><i> $ <%= data[:you_save_text] %></i></span>
              <%end%>
            </div>
          </div>

          <%if @current_user.present?%>
            <%if @current_user.email_verified%>
              <a class="order-btn" href="<%= order_website_app_users_path(:deal_id=> best_deal['id'],:effective_price=> best_deal['effective_price'])%>"  id=<%=best_deal['id']%>>Order</a>
            <%else%>
              <a class="order-btn" href="javascript:void(0)">Verify email</a>
            <%end%>
          <%else%>
            <a class="order-btn" href="<%= order_website_app_users_path(:deal_id=> best_deal['id'],:effective_price=> best_deal['effective_price'])%>"  id=<%=best_deal['id']%>>Order</a>
          <%end%>
        </div>
      </div>
    </div>
  <%end %>
  <% if data[:trending_deal].present? %>
    <% best_deal = data[:trending_deal] %>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <div class="border-radius-bg auto-height">
        <div class="best-trending-sty"><img src="/assets/website/trending_deal.png" alt=""></div>
        <div class="vertical_middle" style="overflow: hidden;width:215px">
          <img src="<%= best_deal['deal_image_url'] %>" class="img-responsive">
        </div>
        <div class="main-external-div1">
        <h5><%= best_deal['title'].truncate(25) %></h5>
        <ul class="description-height">
          <li><%= best_deal['short_description'].truncate(30) %></li>
          <li><%= best_deal['detail_description'].truncate(30) %></li>
        </ul>
        <% if params[:category_id].to_i == Deal::CELLPHONE_CATEGORY %>
          <b class="cellphone-lines">Lines:<%=data['no_of_lines'] %></b>
        <% end %>
        <%rating=CommentRating.where(:deal_id => best_deal["id"]).average(:rating_point).to_i%>
        <%if rating.present?%>
         <p id="rating"  class="sd-rating">

            <%rating.times do%>
             <i class="fa fa-star"></i>
            <%end%>
            <%rev=5-rating%>
            <%rev.times do%>
            <i class="fa fa-star-o"></i>
            <%end%>
            <%else%>
            <%5.times do%>
          <i class="fa fa-star-o"></i>
            <%end%>

         </p>




      </p>
       <%end%><br />
        <a class="sd-more-details" href="<%= more_deal_details_website_home_index_path(:deal_id=> best_deal['id']) %>"> More Details</a>
      </div>
        <div class="box_down">
          <span class="separator_2"></span>
          <div   <div class="sd-dealprices">
            <div class="sd-best-price">
              Price
              <span>$<%= best_deal['deal_price'] %>/mo</span>
          </div>
          <div class="sd-effective-price">
          Effective price
            <span>$<%= best_deal['effective_price'] %>mo</span>
          </div>
        </div>
        <%if @current_user.present?%>
          <%if @current_user.email_verified%>
            <a class="order-btn" href="<%= order_website_app_users_path(:deal_id=> best_deal['id'],:effective_price=> best_deal['effective_price'])%>"  id=<%=best_deal['id']%>>Order</a>
          <%else%>
            <a class="order-btn" href="javascript:void(0)">Verify email</a>
          <%end%>
        <%else%>
          <a class="order-btn" href="<%= order_website_app_users_path(:deal_id=> best_deal['id'],:effective_price=> best_deal['effective_price'])%>"  id=<%=best_deal['id']%>>Order</a>
        <%end%>
      </div>
    </div>
  </div>
<%end %>
<% end %>
<% end %>
