<div class="form-area">
  <%
  if @current_user.present? and ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id]).present?
   @service_preferences_data=ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id])
   service_provider_name=@service_preferences_data[0].service_provider_name
   price=@service_preferences_data[0].price
   is_contract=@service_preferences_data[0].is_contract
   start_date=@service_preferences_data[0].start_date
   end_date=@service_preferences_data[0].end_date
   plan_name= @service_preferences_data[0].plan_name
   @cellphone_preferences=CellphoneServicePreference.where(:service_preference_id=>@service_preferences_data[0].id)
   domestic_call_minutes=@cellphone_preferences[0].domestic_call_minutes
   international_call_minutes=@cellphone_preferences[0].international_call_minutes
   data_plan=@cellphone_preferences[0].data_plan
   no_of_lines=@cellphone_preferences[0].no_of_lines
 else

  end
  %>

  <%=form_for(:service_preferences, :url=>"/edit_or_change_service_preferences", :method=>"post") do %>
  <%=hidden_field_tag("service_category_name",ServiceCategory.get_category_name_by_id(params[:category_id]))%>
  <%=hidden_field_tag("service_category_id",params[:category_id])%>
  <% @providers=ServiceProvider.where(:service_category_id=>params[:category_id]).pluck(:name,:id)%>
  <%=hidden_field_tag("app_user_id",session[:user_id])%>
  <%=hidden_field_tag("from_site","true")%>
      <select class="form-control" name="service_provider_id">
        <%= options_for_select(@providers, :prompt=>"Select", :value=>@providers) %>
      </select> <br />
    <%= number_field_tag(:price,price,:class=>"form-control", :placeholder=>"Enter price")%><br />
    <p>Contract Date</p>
    <%= check_box_tag "is_contract", false, :class=>"form-control", :onchange=>"resetcontractdate()"%>No Contract
    <%= date_field_tag(:start_date,end_date,:class=>"form-control")%><br />
    <%= date_field_tag(:end_date,end_date,:class=>"form-control")%><br />
    <p>Calls</p>
    <p>Domestic</p>
    <div class="row">
      <div class="col-md-6">
         <%= check_box_tag "domestic_call_unlimited", false, :class=>"form-control", :onchange=>"resetcontractdate()"%>Unlimited
      </div>
      <div class="col-md-6">
        <%=number_field_tag(:domestic_call_minutes,domestic_call_minutes, :class=>"form-control", :placeholder=>"minutes")%><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
           <%= check_box_tag "international_call_unlimited", false, :class=>"form-control", :onchange=>"resetcontractdate()"%>unlimited
      </div>
      <div class="col-md-6">
        <%=number_field_tag(:international_call_minutes,international_call_minutes, :class=>"form-control", :placeholder=>"minutes")%><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
           <%= number_field_tag "data_plan",data_plan, :class=>"form-control", :placeholder=>"Data plan"%>
      </div>
      <div class="col-md-6">
        <select class="form-control" name="no_of_lines">
          <%(1..5).each do |n|%>
          <option value="<%=n%>"><%=n%></option>
          <%end%>
        </select>
      </div>
    </div>
 <br />
    <%= submit_tag("Save", :class=>"btn btn-success search-btn")%>
    <%end%>
  </div>
  <script>
   $(document).ready(function(){
    $("#is_contract").prop("checked",false);
    $("#domestic_call_unlimited").prop("checked",false);
    $("#international_call_unlimited").prop("checked",false);
    $("#is_contract").on("change",function(){
      if($("#is_contract").prop("checked")==true){
        $("#start_date").attr("disabled",true);
        $("#end_date").attr("disabled",true);
      }
      else {
        $("#start_date").attr("disabled",false);
        $("#end_date").attr("disabled",false);
      }
    });

    $("#domestic_call_unlimited").on("change",function(){
      if($("#domestic_call_unlimited").prop("checked")==true){
        $("#domestic_call_minutes").attr("disabled",true);
        $("#domestic_call_unlimited").val("true");
      }
      else {
        $("#domestic_call_minutes").attr("disabled",false);
        $("#domestic_call_unlimited").val("false");
      }
    });

    $("#international_call_unlimited").on("change",function(){
      if($("#international_call_unlimited").prop("checked")==true){
        $("#international_call_minutes").attr("disabled",true);
        $("#domestic_call_unlimited").val("true");
      }
      else {
        $("#international_call_minutes").attr("disabled",false);
        $("#domestic_call_unlimited").val("false");
      }
    });
  })

  </script>
