<div class="form-area">
  <%
  if @current_user.present? and ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>4).present?
   @service_preferences_data=ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>4)
   service_provider_name=@service_preferences_data[0].service_provider_name
   service_provider_id=@service_preferences_data[0].service_provider_id

   price=@service_preferences_data[0].price
   is_contract=@service_preferences_data[0].is_contract
   start_date=@service_preferences_data[0].start_date
   end_date=@service_preferences_data[0].end_date
   plan_name= @service_preferences_data[0].plan_name
   @cellphone_preferences=CellphoneServicePreference.where(:service_preference_id=>@service_preferences_data[0].id)
   if @cellphone_preferences.present?
     domestic_call_minutes=@cellphone_preferences[0].domestic_call_minutes
     international_call_minutes=@cellphone_preferences[0].international_call_minutes
     data_plan=@cellphone_preferences[0].data_plan
     no_of_lines=@cellphone_preferences[0].no_of_lines
   end
 else

  end
  %>
  <h4>Current Cellphone service </h4>

  <%=form_for(:service_preferences, :url=>"/edit_or_change_service_preferences", :method=>"post") do %>
  <%=hidden_field_tag("service_category_name",ServiceCategory.get_category_name_by_id(params[:category_id]))%>
  <%=hidden_field_tag("service_category_id",4)%>
  <% @providers=ServiceProvider.where(:service_category_id=>4).pluck(:name,:id)%>
  <%=hidden_field_tag("app_user_id",session[:user_id])%>
  <%=hidden_field_tag("from_site","true")%>
  <div class="col-md-6">
      <select class="form-control" id="cellphone_service_provider_id"  name="service_provider_id">
        <%= options_for_select(@providers, :prompt=>"Select", :value=>@providers) %>
      </select>
  </div>

  <div class="col-md-6">
    <%= number_field_tag("cellphone_price",price,:class=>"form-control", :placeholder=>"Enter price")%>
  </div>

    <div class="col-md-6">  <p class="contract-margin-sty">Contract Date</p>
    </div>
    <div class="col-md-6">  <div class="checkbox checkbox-info no-contract-sty">
        <%= check_box_tag "cellphone_is_contract", false, :class=>"form-control", :onchange=>"resetcontractdate()"%>
        <label for="cellphone_is_contract"> <span>Is Contract</span> </label>
      </div>
    </div>

    <div class="col-md-6"><%= text_field_tag(:cellphone_start_date,end_date,:class=>"form-control", :placeholder =>"Start Date")%>  </div>
    <div class="col-md-6"><%= text_field_tag(:cellphone_end_date,end_date,:class=>"form-control", :placeholder =>"End Date")%>  </div>

      <div class="col-md-12">
      <p class="set-call">Domestic calls</p>

      <div class="col-md-6 unlimited-call ">
      <div class="checkbox checkbox-info no-contract-sty">
      <%= check_box_tag "checkbox_domestic_call_unlimited", false, :class=>"form-control", :onchange=>"resetcontractdate()"%>
      <label for="checkbox_domestic_call_unlimited" ><span>Unlimited<span></label>
      </div>
      </div>

      <div class="col-md-6">
      <%=number_field_tag(:cellphone_domestic_call_minutes,domestic_call_minutes, :class=>"form-control", :placeholder=>"minutes")%><br />
      </div>
    </div>
      <div class="col-md-12">
      <p class="set-call">International calls</p>


      <div class="col-md-6 unlimited-call ">
        <div class="checkbox checkbox-info no-contract-sty">
           <%= check_box_tag "checkbox_international_call_unlimited", false, :class=>"form-control", :onchange=>"resetcontractdate()"%>
           <label for="checkbox_international_call_unlimited"><span></span>Unlimited</label>
        </div>
      </div>

      <div class="col-md-6">
        <%=number_field_tag(:cellphone_international_call_minutes,international_call_minutes, :class=>"form-control", :placeholder=>"minutes")%><br />
      </div>

      <div class="col-md-6">
        <%@list=CellphoneDealAttribute.where("data_plan is NOT NULL").order("data_plan ASC").pluck(:data_plan).uniq.push("Select data plan").reverse%>
        <select class="form-control" id="cellphone_data_plan"  name="data_plan">
          <%= options_for_select(@list, :prompt=>"Select", :value=>@list) %>
        </select> 
         </div>
      <div class="col-md-6">
        <select class="form-control" id="cellphone_no_of_lines" name="no_of_lines">
          <%(1..4).each do |n|%>
          <option value="<%=n%>"><%=n%></option>
          <%end%>
        </select>
      </div>

    <div class="col-md-12 text-center btn-group-sty">
     <%= submit_tag("Save", :class=>"btn save-button", :onclick=>"submit_cellphone()")%>
     <%if params[:new_user]%>
      <input type="button" class="btn skip-button" value="Skip" onclick="show_bundle()" />
     <%end%>
   </div>
    <%end%>
  </div>
</div>
  <script>
  function show_bundle() {
      $("#cellphone_pref").hide();
      $("#bundle_pref").show().css("height","640px");
  }
   $(document).ready(function(){
     $("#cellphone_start_date").datepicker();
     $("#cellphone_end_date").datepicker();
    $("#cellphone_contract").prop("checked",false);
    $("#cellphone_domestic_call_unlimited").prop("checked",false);
    $("#cellphone_international_call_unlimited").prop("checked",false);
    $("#cellphone_is_contract").on("change",function(){
      if($("#cellphone_is_contract").prop("checked")==true){
        $("#cellphone_start_date").attr("disabled",true);
        $("#cellphone_end_date").attr("disabled",true);
      }
      else {
        $("#cellphone_start_date").attr("disabled",false);
        $("#cellphone_end_date").attr("disabled",false);
      }
    });
    $.ajax({
      url :"/api/v1/get_preferences?device_id=43764fb0b6599065&token=89c91edd30&app_user_id=+<%=session[:user_id]%>+&category=4",
      type: "GET",
      success: function(data){
        console.log(data["service_preference"]);
        $("#cellphone_price").val(data["service_preference"]["price"]);
        if(data["service_preference"]["is_contract"] == true) {
          $("#cellphone_start_date").attr("disabled",true);
          $("#cellphone_end_date").attr("disabled",true);
          $("#cellphone_is_contract").prop("checked","checked");
        }
        $("#telephone_domestic_call_minutes").val(data["service_preference"]["domestic_call_minutes"]);
        $("#telephone_international_call_minutes").val(data["service_preference"]["international_call_minutes"]);
        $("#cellphone_price").val(data["service_preference"]["price"]);
        $("#cellphone_data_plan option[value='"+'2.0'+"']").attr('selected','selected');
      }
    });


    $("#checkbox_domestic_call_unlimited").on("change",function(){
      if($("#checkbox_domestic_call_unlimited").prop("checked")==true){
        $("#cellphone_domestic_call_minutes").attr("readonly",true);
        $("#cellphone_domestic_call_minutes").val(0);
        $("#cellphone_domestic_call_unlimited").val("true");
      }
      else {
        $("#cellphone_domestic_call_minutes").attr("readonly",false);
        $("#cellphone_domestic_call_unlimited").val("false");
      }
    });

    $("#checkbox_international_call_unlimited").on("change",function(){
      if($("#checkbox_international_call_unlimited").prop("checked")==true){
        $("#cellphone_international_call_minutes").attr("readonly",true);
        $("#cellphone_international_call_minutes").val(0);
        $("#cellphone_domestic_call_unlimited").val("true");
      }
      else {
        $("#cellphone_international_call_minutes").attr("readonly",false);
        $("#cellphone_domestic_call_unlimited").val("false");
      }
    });
    $("#data_plan_data_plan").attr("name","data_plan");
    <%if  @service_preferences_data.present?%>
      set_service_provider("<%=service_provider_id%>");
      set_data_plan("<%=data_plan%>");
      set_no_of_lines("<%=no_of_lines%>");
      <%end%>

   })
  function set_service_provider(id) {
    if (id!="" && id!=null) {
      $("#service_provider_id option[value="+id+"]").attr('selected','selected');
    }
  }
  function set_data_plan(id) {
    $("#cellphone_data_plan option[value='"+id+"']").attr('selected','selected');
  }
  function set_no_of_lines(id) {
    $("#no_of_lines1 option[value='"+id+"']").attr('selected','selected');
  }
  function submit_cellphone(){
    event.preventDefault();
     if($("#cellphone_start_date").prop("disabled") == true && $("#cellphone_end_date").prop("disabled") == true) {
      is_contract = false
    }
    else
    {
      is_contract=true
    }
    if($("#cellphone_price").val()!= "") {
      $.ajax({
        url:"/edit_or_change_service_preferences",
        type: "POST",
        data: {
          service_category_id:4,
          app_user_id:$("#app_user_id").val(),
          domestic_call_minutes:$("#cellphone_domestic_call_minutes").val(),
          international_call_minutes:$("#cellphone_international_call_minutes").val(),
          start_date:$("#cellphone_start_date").val(),
          end_date:$("#cellphone_end_date").val(),
          data_plan:$("#cellphone_data_plan").val(),
          no_of_lines:$("#cellphone_no_of_lines").val(),
          price:$("#cellphone_price").val(),
          is_contract:is_contract,
          service_provider_id:$("#cellphone_service_provider_id option:selected").val()
        },
        success: function(data){
          if (data["success"] == true) {
            $("#cellphone_pref").hide();
            $("#bundle_pref").show().css("height","500px");
          }
        }
      });
    }
    else {
      alert("enter price");
    }

  }
  </script>
