<section class=" clientCon">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <h1 class="text-center">The Best In The Business - All The Brands Are Here </h1>
      <h2 class="text-center"> Explore, Match & Save Money </h2>
      <div class="text-center logo-place">
        <%= image_tag("assets/images/website/client-logo/1.png",:alt => 'Client') %>
        <%= image_tag("assets/images/website/client-logo/2.png",:alt => 'Client') %>
        <%= image_tag("assets/images/website/client-logo/3.png",:alt => 'Client') %>
        <%= image_tag("assets/images/website/client-logo/4.png",:alt => 'Client') %>
        <%= image_tag("assets/images/website/client-logo/5.png",:alt => 'Client') %>
        <%= image_tag("assets/images/website/client-logo/6.png",:alt => 'Client') %>
      </div>
    </div>
  </div>
</section>