<section class="clientCon">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
     
     <div class="logo-place">
        <%= image_tag("website/client-logo/1.png",:alt => 'Client') %>
        <%= image_tag("website/client-logo/2.png",:alt => 'Client') %>
        <%= image_tag("website/client-logo/3.png",:alt => 'Client') %>
        <%= image_tag("website/client-logo/4.png",:alt => 'Client') %>
        <%= image_tag("website/client-logo/5.png",:alt => 'Client') %>
        <%= image_tag("website/client-logo/6.png",:alt => 'Client') %>
        <%= image_tag("website/client-logo/7.png",:alt => 'Client') %>
        <%= image_tag("website/client-logo/8.png",:alt => 'Client') %>
        <%= image_tag("website/client-logo/9.png",:alt => 'Client') %>
      </div>
    </div>
  </div>
</section>