<div class="form-area">
  <%
  if @current_user.present? and ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id]).present?
    @service_preferences_data=ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id])
   service_provider_name=@service_preferences_data[0].service_provider_name
   service_provider_id=@service_preferences_data[0].service_provider_id
   price=@service_preferences_data[0].price
   no_contract=@service_preferences_data[0].is_contract
   start_date=@service_preferences_data[0].start_date
   end_date=@service_preferences_data[0].end_date
   plan_name= @service_preferences_data[0].plan_name
   @internet_preferences=InternetServicePreference.where(:service_preference_id=>@service_preferences_data[0].id)
   if @internet_preferences.present?
     download_speed=@internet_preferences[0].download_speed
     upload_speed=@internet_preferences[0].upload_speed
   end
   end
  %>
  <%= "Add Services for internet" if params[:new_user]%>
   <%=form_for(:service_preferences, :url=>"/edit_or_change_service_preferences", :method=>"post") do %>
  <%=hidden_field_tag("service_category_name",ServiceCategory.get_category_name_by_id(params[:category_id]))%>
  <%=hidden_field_tag("service_category_id",params[:category_id])%>
  <%=hidden_field_tag("app_user_id",session[:user_id])%>
  <%=hidden_field_tag("from_site","true")%>
  <div class="col-md-6">
    <% @providers=ServiceProvider.where(:service_category_id=>params[:category_id]).pluck(:name,:id)%>
      <select class="form-control" id="service_provider_id" name="service_provider_id">
        <%= options_for_select(@providers, :prompt=>"Select", :value=>@providers) %>
      </select>
    </div>
    <div class="col-md-6">
    <%= number_field_tag("price","#{price}",:class=>"form-control", :placeholder=>"Enter price", :required=>true)%>
  </div>

  <div class="checkbox checkbox-info no-contract-sty">
  <%= check_box_tag "no_contract",nil,:class=>"form-control"%>
  <label for="no_contract"> <span>No Contract </span> </label>
  </div>
    <p class="contract-margin-sty">Contract Date</p>
    <div class="col-md-6 mg_bttom20"><%= date_field_tag("start_date","#{start_date.to_date if start_date.present?}", :class=>"form-control")%> </div>
    <div class="col-md-6 mg_bttom20"><%= date_field_tag("end_date","#{end_date.to_date if end_date.present?}", :class=>"form-control")%> </div><br />
    <div class="col-md-6 mg_bttom20"><%= number_field_tag("download_speed",download_speed, :class=>"form-control", :placeholder=>"Download(Mbps)", :required=>true)%></div>
    <div class="col-md-6 mg_bttom20"><%= number_field_tag("upload_speed",upload_speed, :class=>"form-control", :placeholder=>"Upload(Mbps)", :required=>true)%></div>
    <%=hidden_field_tag("plan_name","none")%>
    <div class="col-md-12 text-center">
    <%= submit_tag("Save", :class=>"btn btn-success preference-btn")%>

    </div>
    <%end%>
  </div>
  <script>
  $(document).ready(function(){
    $("#no_contract").prop("checked",false);
    $("#no_contract").on("change",function(){
      if($("#no_contract").prop("checked")==true){
        $("#start_date").attr("disabled",true);
        $("#end_date").attr("disabled",true);
        $("#is_contract").val("true")
      }
      else {
        $("#start_date").attr("disabled",false);
        $("#end_date").attr("disabled",false);
        $("#is_contract").val("false")
      }
    });

      <%
      if service_provider_id.present?%>
        set_service_provider("<%=service_provider_id%>")
      <% end
      %>
      <%
      if !no_contract %>
        $("#start_date").attr("disabled",true);
        $("#end_date").attr("disabled",true);
        $("#no_contract").prop("checked","checked");
      <% end
      %>
  });

    function set_service_provider(id) {
        $("#service_provider_id option[value='"+id+"']").attr('selected','selected');
    }
  </script>
