<div class="col-xs-12 col-sm-4 col-md-3 bor_sec_left">
  <div class="border-radius-bg pull-left">

    <h5>FILTERS</h5>
    <div id="slider"></div>

    <% if false#params[:category_id] == '1' %>
        <span class="separator"></span>
        <h5>DOWNLOAD SPEED</h5>
        <div class="checkbox checkbox-info">
          <input id="checkbox7a" type="checkbox">
          <label for="checkbox7a"> <span>Fast </span> ( Upto 3 Mbps ) </label>
        </div>
        <div class="checkbox checkbox-info">
          <input id="checkbox7b" type="checkbox">
          <label for="checkbox7b"> <span>Faster</span> ( Upto 25 Mbps) </label>
        </div>
        <div class="checkbox checkbox-info">
          <input id="checkbox7c" type="checkbox">
          <label for="checkbox7c"> <span>Fastest</span> ( 100 Mbps ) </label>
        </div>
    <% end %>
    <span class="separator"></span>
    <h5>COMPANIES</h5>
    <div class="scroller">
      <% @providers.each do |provider| %>
          <div class="checkbox checkbox-info">
            <!--<input id="<%#= provider.id %>" type="checkbox" class="provider_checkbox">
            -->
            <%
               selected_checkbox = params[:provider_ids].present? ? params[:provider_ids].split(',') : []
               is_selected = selected_checkbox.include?(provider.id.to_s) ? true : false
            %>

            <%= check_box_tag(provider.name, value = provider.id, checked = is_selected, options = {:class => 'provider_checkbox',:id => provider.id}) %>
            <label for="<%= provider.id %>"> <span> <%= provider.name %> </span> </label>
          </div>
      <% end %>
    </div>
    <div class="btns pull-left">
    <a class="btn_2 search-btn" href="javascript:void(0)" id="search_filter">SEARCH</a>
    <a class="btn_2 reset-btn" href="javascript:void(0)" id="reset_search_filter">RESET</a>
  </div>
</div>
</div>

<script type="text/javascript">
    $("#search_filter").click(function(){
        var provider_ids = [];
        $.each($(".provider_checkbox:checked"), function(){
            provider_ids. push($(this).attr('id'));
        });
        document.location.href = "<%= deal_details_website_home_index_path %>?category_id=<%= params[:category_id] %>&zip_code=<%= params[:zip_code] %>&deal_type=<%= params[:deal_type] %>&sort_by=<%= params[:sort_by] %>&provider_ids="+provider_ids
    });
    $("#reset_search_filter").click(function(){
        document.location.href = "<%= deal_details_website_home_index_path %>?category_id=<%= params[:category_id] %>&zip_code=<%= params[:zip_code] %>&deal_type=<%= params[:deal_type] %>&sort_by=<%= params[:sort_by] %>"
    });
</script>
