<div class="form-area">
  <%
  if @current_user.present? and ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>2).present?
   @service_preferences_data=ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>2)
   service_provider_name=@service_preferences_data[0].service_provider_name
   service_provider_id=@service_preferences_data[0].service_provider_id

   price=@service_preferences_data[0].price
   is_contract=@service_preferences_data[0].is_contract
   start_date=@service_preferences_data[0].start_date
   end_date=@service_preferences_data[0].end_date
   plan_name= @service_preferences_data[0].plan_name
   @Telephone_preferences=TelephoneServicePreference.where(:service_preference_id=>@service_preferences_data[0].id)
   if @Telephone_preferences.present?
     domestic_call_minutes=@Telephone_preferences[0].domestic_call_minutes
     international_call_minutes=@Telephone_preferences[0].international_call_minutes

   end
  end
  %>

  <h4>Current Telephone Service </h4>
  <%=form_for(:service_preferences, :url=>"/edit_or_change_service_preferences", :method=>"post") do %>
  <%=hidden_field_tag("service_category_name",ServiceCategory.get_category_name_by_id(params[:category_id]))%>
  <%=hidden_field_tag("service_category_id",2)%>
  <% @providers=ServiceProvider.where(:service_category_id=>2).pluck(:name,:id)%>
  <%=hidden_field_tag("app_user_id",session[:user_id])%>
  <%=hidden_field_tag("from_site","true")%>

      <div class = "col-md-6" >
        <select class="form-control"  id="telephone_service_provider_id" name="service_provider_id">
        <%= options_for_select(@providers, :prompt=>"Select" ,:value=>@providers) %>
      </select>  </div>
      <div class = "col-md-6" >  <%= number_field_tag(:telephone_price,price,:class=>"form-control", :placeholder=>"Enter price", :required=>true)%> </div>

      <div class="col-md-6">
        <p class="contract-margin-sty">Contract Date</p>
      </div>

      <div class="col-md-6">
      <div class="checkbox checkbox-info no-contract-sty">
        <input type="checkbox" name="telephone_is_contract" id="telephone_is_contract" value="false" checked="checked">
        <label for="telephone_is_contract"> <span>No Contract </span> </label>
      </div>
    </div>
    <div class="col-md-6"><%= text_field_tag(:telephone_start_date,start_date, :class=>"form-control", :placeholder=>"Start Date")%></div>
    <div class="col-md-6"><%= text_field_tag(:telephone_end_date,end_date, :class=>"form-control", :placeholder=>"End Date")%></div>
     <div class="col-md-12"><p class="set-call">Domestic</p></div>
      <div class="col-md-6 unlimited-call ">
      <div class="checkbox checkbox-info no-contract-sty">
      <%= check_box_tag "telephone_domestic_call_unlimited", "", :class=>"form-control", :onchange=>"resetcontractdate()"%>
      <label for="telephone_domestic_call_unlimited"> <span>Unlimited</span> </label>
      </div>
      </div>
      <div class="col-md-6">
        <%=number_field_tag(:telephone_domestic_call_minutes,domestic_call_minutes, :class=>"form-control", :placeholder=>"Minutes")%>
      </div>
      <div class="col-md-12 "> <p class="set-call">International</p> </div>
      <div class="col-md-6 unlimited-call ">

         <div class="checkbox checkbox-info no-contract-sty">
         <%= check_box_tag "telephone_international_call_unlimited", "", :class=>"form-control", :onchange=>"resetcontractdate()"%>
         <label for="telephone_international_call_unlimited"> <span>Unlimited</span> </label>
         </div>

      </div>
      <div class="col-md-6">
        <%=number_field_tag(:telephone_international_call_minutes,international_call_minutes, :class=>"form-control", :placeholder=>"Minutes")%>
      </div>

    <div class="col-md-12 text-center btn-group-sty">
    <%= submit_tag("Save", :class=>"btn save-button",:onclick=>"submit_telephone()")%>
      <%if params[:new_user]%>
        <input type="button" value="Skip" class="btn skip-button" onclick="show_cable()" />
      <%end%>
    </div>
    <%end%>
  </div>
  <script>
  function show_cable()
  {
    $("#telephone_pref").hide();
    $("#cable_pref").show().css("height","377px");
  }
   $(document).ready(function(){
     $("#telephone_start_date").datepicker();
     $("#telephone_end_date").datepicker();
    $("#telephone_is_contract").prop("checked",false);
    $("#telephone_domestic_call_unlimited").prop("checked",false);
    $("#telephone_international_call_unlimited").prop("checked",false);
    $("#telephone_is_contract").prop("checked","true");
    $("#telephone_start_date").attr("disabled",true);
    $("#telephone_end_date").attr("disabled",true);
    $("#telephone_domestic_call_unlimited").prop("checked", "true");
    $("#telephone_domestic_call_minutes").attr("disabled",true);
    $("#telephone_domestic_call_minutes").val(0);
    $("#telephone_is_contract").on("change",function(){
      if($("#telephone_is_contract").prop("checked")==true){
        $("#telephone_start_date").attr("disabled",true);
        $("#telephone_end_date").attr("disabled",true);
      }
      else {
        $("#telephone_start_date").attr("disabled",false);
        $("#telephone_end_date").attr("disabled",false);
      }
    });

    $.ajax({
      url :"/api/v1/get_preferences?app_user_id="+<%=session[:user_id]%>+"&category=2",
      type: "GET",
      success: function(data){
        $("#telephone_price").val(data["service_preference"]["price"]);
        if(data["service_preference"]["is_contract"] == true) {
          $("#telephone_start_date").attr("disabled",true);
          $("#telephone_end_date").attr("disabled",true);
          $("#telephone_is_contract").prop("checked","checked");
        }
        $("#telephone_domestic_call_minutes").val("400");
        $("#telephone_international_call_minutes").val(data["service_preference"]["international_call_minutes"]);
        $("#telephone_price").val(data["service_preference"]["price"]);
      }
    });

    $("#telephone_domestic_call_unlimited").on("change",function(){
      if($("#telephone_domestic_call_unlimited").prop("checked")==true){
        $("#telephone_domestic_call_minutes").attr("disabled",true);
        $("#telephone_domestic_call_minutes").val(0);

        $("#telephone_domestic_call_unlimited").val("true");
      }
      else {
        $("#telephone_domestic_call_minutes").attr("disabled",false);
        $("#telephone_domestic_call_unlimited").val("false");
      }
    });

    $("#telephone_international_call_unlimited").on("change",function(){
      if($("#telephone_international_call_unlimited").prop("checked")==true){
        $("#telephone_international_call_minutes").attr("disabled",true);
        $("#telephone_international_call_minutes").val(0);
        $("#telephone_domestic_call_unlimited").val("true");
      }
      else {
        $("#telephone_international_call_minutes").attr("disabled",false);
        $("#telephone_domestic_call_unlimited").val("false");
      }
    });
    <%if service_provider_id.present?%>
      set_service_provider("<%=service_provider_id%>")
      <%end%>
  });

  function set_service_provider(id) {
    $("#service_provider_id option[value="+id+"]").attr('selected','selected');
  }

  function submit_telephone(){
    event.preventDefault();
     if($("#cellphone_start_date").prop("disabled") == true && $("#cellphone_end_date").prop("disabled") == true) {
      is_contract = false
    }
    else
    {
      is_contract=true
    }
    if( $("#telephone_price").val()!= ""){
      $.ajax({
       url:"/edit_or_change_service_preferences",
       type: "POST",
       data: {
         service_category_id:2,
         app_user_id:$("#app_user_id").val(),
         domestic_call_minutes:$("#telephone_domestic_call_minutes").val(),
         international_call_minutes:$("#telephone_international_call_minutes").val(),
         start_date:$("#telephone_start_date").val(),
         end_date:$("#telephone_end_date").val(),
         data_plan:$("#telephone_data_plan").val(),
         price:$("#telephone_price").val(),
         is_contract:is_contract,
         service_provider_id:$("#telephone_service_provider_id option:selected").val()
       },
       success: function(data){
         if (data["success"] == true) {
           $("#telephone_pref").hide();
           $("#cable_pref").show();
         }
       }
     });
    }
    else
    {
      alert("Enter price");
    }
  }
  </script>
