<div class="form-area">
  <%
  if @current_user.present? and ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id]).present?
   @service_preferences_data=ServicePreference.where(:app_user_id=>@current_user.id, :service_category_id=>params[:category_id])
   service_provider_name=@service_preferences_data[0].service_provider_name
   service_provider_id=@service_preferences_data[0].service_provider_id

   price=@service_preferences_data[0].price
   is_contract=@service_preferences_data[0].is_contract
   start_date=@service_preferences_data[0].start_date
   end_date=@service_preferences_data[0].end_date
   plan_name= @service_preferences_data[0].plan_name
   @Telephone_preferences=TelephoneServicePreference.where(:service_preference_id=>@service_preferences_data[0].id)
   if @Telephone_preferences.present?
     domestic_call_minutes=@Telephone_preferences[0].domestic_call_minutes
     international_call_minutes=@Telephone_preferences[0].international_call_minutes
   end
  end
  %>
  <%= "Add Preferences for Telephone" if params[:new_user]%>
  <%=form_for(:service_preferences, :url=>"/edit_or_change_service_preferences", :method=>"post") do %>
  <%=hidden_field_tag("service_category_name",ServiceCategory.get_category_name_by_id(params[:category_id]))%>
  <%=hidden_field_tag("service_category_id",params[:category_id])%>
  <% @providers=ServiceProvider.where(:service_category_id=>params[:category_id]).pluck(:name,:id)%>
  <%=hidden_field_tag("app_user_id",session[:user_id])%>
  <%=hidden_field_tag("from_site","true")%>

      <div class = "col-md-6" ><select class="form-control"  id="service_provider_id" name="service_provider_id">
        <%= options_for_select(@providers, :prompt=>"Select" ,:value=>@providers) %>
      </select>  </div>
  <div class = "col-md-6" >  <%= number_field_tag(:price,price,:class=>"form-control", :placeholder=>"Enter price", :required=>true)%> </div>
    <p class="contract-margin-sty">Contract Date</p>


    <div class="checkbox checkbox-info no-contract-sty">
      <input type="checkbox" name="is_contract" id="is_contract" value="false" checked="checked">
      <label for="is_contract"> <span>No Contract </span> </label>
    </div>
    <div class="col-md-6"><%= date_field_tag(:start_date,start_date, :class=>"form-control")%></div>
    <div class="col-md-6"><%= date_field_tag(:end_date,end_date, :class=>"form-control")%></div>
    <p class="contract-margin-sty">Calls</p>

    <div class="row">
      <div class="col-md-12">  <p  class="set-call">Domestic</p></div>
      <div class="col-md-6">

     <div class="checkbox checkbox-info no-contract-sty">
      <%= check_box_tag "domestic_call_unlimited", "", :class=>"form-control", :onchange=>"resetcontractdate()"%>
      <label for="domestic_call_unlimited"> <span>Unlimited</span> </label>
     </div>

      </div>
      <div class="col-md-6">
        <%=number_field_tag(:domestic_call_minutes,domestic_call_minutes, :class=>"form-control", :placeholder=>"minutes")%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 "> <p class="set-call">international</p> </div>
      <div class="col-md-6">

        <div class="checkbox checkbox-info no-contract-sty">
         <%= check_box_tag "international_call_unlimited", "", :class=>"form-control", :onchange=>"resetcontractdate()"%>
         <label for="international_call_unlimited"> <span>unlimited</span> </label>
         </div>

      </div>
      <div class="col-md-6">
        <%=number_field_tag(:international_call_minutes,international_call_minutes, :class=>"form-control", :placeholder=>"minutes")%>
      </div>
    </div>
    <div class="col-md-12 text-center ">
    <%= submit_tag("Save", :class=>"btn btn-success search-btn preference-btn")%>

    </div>
    <%end%>
  </div>
  <script>
   $(document).ready(function(){
    $("#is_contract").prop("checked",false);
    $("#domestic_call_unlimited").prop("checked",false);
    $("#international_call_unlimited").prop("checked",false);
    $("#is_contract").on("change",function(){
      if($("#is_contract").prop("checked")==true){
        $("#start_date").attr("disabled",true);
        $("#end_date").attr("disabled",true);
      }
      else {
        $("#start_date").attr("disabled",false);
        $("#end_date").attr("disabled",false);
      }
    });

    $("#domestic_call_unlimited").on("change",function(){
      if($("#domestic_call_unlimited").prop("checked")==true){
        $("#domestic_call_minutes").attr("readonly",true);
        $("#domestic_call_unlimited").val("true");
        $("#domestic_call_minutes").val(0);
      }
      else {
        $("#domestic_call_minutes").attr("disabled",false);
        $("#domestic_call_minutes").attr("readonly",false);
        $("#domestic_call_unlimited").val("false");
      }
    });

    $("#international_call_unlimited").on("change",function(){
      if($("#international_call_unlimited").prop("checked")==true){
        $("#international_call_minutes").attr("readonly",true);
        $("#international_call_minutes").val(0);
        $("#domestic_call_unlimited").val("true");
      }
      else {
        $("#international_call_minutes").attr("disabled",false);
        $("#domestic_call_unlimited").val("false");
        $("#international_call_minutes").attr("readonly",false);
      }
    });
    <%if service_provider_id.present?%>
      set_service_provider("<%=service_provider_id%>")
      <%end%>
  })
  function set_service_provider(id) {
    $("#service_provider_id option[value="+id+"]").attr('selected','selected');
  }
  </script>
