<section class="best-deals-con">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Trending Deals </h1>

      <div class="owl-carousel owl-loaded owl-drag">

        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0.25s; width: 2557px;">

          <% @trending_deal_data.each do |dashboard_data| %>
              <% if dashboard_data[:trending_deal].present? %>
                  <% trending_deal = dashboard_data[:trending_deal] %>
                  <div class="owl-item active" style="width: 220px; margin-right: 10px;">
                    <div>
                      <a href="<%= more_deal_details_website_home_index_path(:deal_id=> trending_deal['id']) %>">
                        <div class="bx-img">
                          <img src="<%= trending_deal['deal_image_url']  %>" alt="" height="80px" width="80px">
                        </div>
                        <p class="caption-title" title="<%= trending_deal['title'] %>"><%= trending_deal['title'].present? ? trending_deal['title'].truncate(25) : ''  %></p>
                        <p class="caption-price">Deal Price : <%= trending_deal['deal_price']  %></p>
                        <p class="caption-price">Effective Price : <strong><%= trending_deal['effective_price']  %></strong></p>
                      </a>
                    </div>
                  </div>

              <% end %>
          <% end %>

        </div>
        </div>
        <div class="owl-nav"><div class="owl-prev disabled"><i class="fa  fa-angle-left" aria-hidden="true"></i></div>
          <div class="owl-next"><i class="fa  fa-angle-right" aria-hidden="true"></i></div>
        </div>
        <div class="owl-dots"><div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>