<%# if  session[:user_id].present? %>
  <section class="compare-design">
    <div class="container">
      <!-- <h3>Compare <%= @category.capitalize %> Deals</h3> -->
      <div data-example-id="bordered-table" class="compare-table table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
            <td scope="row" class="nobdr" style="font-size:24px;"> Compare <br> <span style="font-size:16px;">2 Items</span></td>

            <td align="center" class="col-spacing compare-sty">

              <% url1 = display_logo_permission(@deal_first.service_provider_id,@deal_first.deal_type)%>
              <%= image_tag("#{url1}", :size => "200x200") %>  <br>
              <a href="#"><%= @deal_first.try(:short_description)%></a><br>
              <span class="price-com">$ <b><%= @deal_first.try(:price) %> / month</b></span></td>

              <td align="center" class="col-spacing compare-sty">
                <% url2 = display_logo_permission(@deal_second.service_provider_id,@deal_second.deal_type)%>
                <%= image_tag("#{url2}", :size => "200x200") %> <br>
              <a href="#"><%= @deal_second.try(:short_description)%></a> <br>
              <span class="price-com">$ <b><%= @deal_second.try(:price) %> / month</b></span></td>

           </tr>

          <tr>
            <th width="20%" scope="row">Plan</th>

            <th width="30%"><%=@deal_first.service_provider.name%></th>
            <th width="30%"><%=@deal_second.service_provider.name%></th>
          </tr>
          <tr>
            <td scope="row">Saving</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td scope="row">Contract</td>
            <td><%= @deal_first.try(:contract_period) %></td>
            <td><%= @deal_second.try(:contract_period) %></td>
          </tr>

          <%= render :partial=> 'website/home/deal_attribute' %>
          <%= render :partial=> 'website/home/deal_equipment' %>
          <tr>
            <th scope="row">Offer</th>
            <th></th>
            <th></th>
          </tr>

          <tr>
            <td scope="row">Offer Title</td>
            <td><%= @deal_first.additional_offers.try(:first).try(:title) %></td>
            <td><%= @deal_second.additional_offers.try(:first).try(:title) %></td>
          </tr>
          <tr>
            <td scope="row">Offer Price</td>
            <td><%= @deal_first.additional_offers.try(:first).try(:price) %></td>
            <td><%= @deal_second.additional_offers.try(:first).try(:price) %></td>
          </tr>
          </tbody></table>
      </div>
    </div>
  </section>
  <%# else %>
  <!-- <div>

    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center login-comp r">

           <P class="alert-dange"> Please Login/SignUp for comparing deal</P>


        </div>


      </div>


    </div>



  </div> -->
<%#e end %>
<style>
.login-comp{

    float: left;
    width: 100%;
    font-size: 30px;
    font-size: 20px;
    padding: 60px;

}
</style>
