<% if session[:user_id].present?%>
  <% app_user =AppUser.find_by_id(session[:user_id])
   user_preference_price = app_user.service_preferences.where(service_category_name: @category).first.price rescue 0 %>

<% end %>
<!--top-->
<section class="compare-design">
    <div class="container">
      <!-- <h3>Compare Internet Deals</h3> -->
      <div data-example-id="bordered-table" class="compare-table table-responsive">
        <table class="table table-bordered">
          <tbody>
           <tr>
              <th scope="row" width="30%" >Plan</th>



              <th width="30%" class="text-center"><%= display_deal_name_permission(@deal_first.service_provider_id,@deal_first.deal_type,@deal_first.title).present? ? display_deal_name_permission(@deal_first.service_provider_id,@deal_first.deal_type,@deal_first.title) : "N/A" %></th>
              <th width="30%" class="text-center"><%= display_deal_name_permission(@deal_second.service_provider_id,@deal_second.deal_type,@deal_second.title).present? ? display_deal_name_permission(@deal_second.service_provider_id,@deal_second.deal_type,@deal_second.title) : "N/A" %></th>
            </tr>
              <tr>
              <td scope="row"></td>

              <td align="center">
                 <% url1 = display_logo_permission(@deal_first.service_provider_id,@deal_first.deal_type)%>
                <%= image_tag("#{url1}", :size => "200x200") %> 
             </td>

                <td align="center">
                   <% url1 = display_logo_permission(@deal_second.service_provider_id,@deal_second.deal_type)%>
                <%= image_tag("#{url1}", :size => "200x200") %> 
            </td>

             </tr>

            <tr>
              <th scope="row" width="20%">General</th>
              <th width="30%"></th>
              <th width="30%"></th>
            </tr>
            <tr>
              <td scope="row">Price</td>
              <td class="text-center"><%= @deal_first.try(:price).present? ? "$#{"%.2f" % @deal_first.try(:price)}" : "$0.00" %> /mon</td>
              <td class="text-center"><%= @deal_second.try(:price).present? ? "$#{"%.2f" % @deal_second.try(:price)}" : "$0.00"  %> /mon</td>
            </tr>
             <tr>
              <td scope="row">Effective Price</td>
              <td class="text-center"><%= @deal_first.try(:effective_price).present? ? "$#{"%.2f" % @deal_first.try(:effective_price)}" : "$0.00"%> /mon</td>
              <td class="text-center"><%= @deal_second.try(:effective_price).present? ? "$#{"%.2f" % @deal_second.try(:effective_price)}" : "$0.00" %> /mon</td>
            </tr>
              <tr>
              <td scope="row">Saving</td>
              <% if  app_user.present? %>
              <%saving_1 = user_preference_price - @deal_first.try(:effective_price)%>
              <%saving_2 = user_preference_price - @deal_second.try(:effective_price)%>
              <td class="text-center"><span style="background:#0C6; color:#fff; display:inline-block; padding:0 10px "><%= saving_1 > 0 ? "$#{saving_1}/mon" : $0.00/mon%></span></td>
              <td class="text-center"><span style="background:#0C6; color:#fff; display:inline-block; padding:0 10px "><%= saving_2 > 0 ? "$#{saving_2}/mon"  : $0.00/mon%></span></td>
              <% else %>
              <td class="text-center"><span style="background:#0C6; color:#fff; display:inline-block; padding:0 10px ">"$0.00/mon"</span></td>
              <td class="text-center"><span style="background:#0C6; color:#fff; display:inline-block; padding:0 10px ">"$0.00/mon"</span></td>
              <% end %>
            </tr>
            <tr>
              <td scope="row">Contract</td>
              <% if @deal_first.try(:contract_period) == 0 %>
                <td class="text-center">None</td>
              <% else %>
                <td class="text-center"><%= @deal_first.try(:contract_period) %> months</td>
              <% end %>
              <% if @deal_second.try(:contract_period) == 0 %>
                <td class="text-center">None</td>
              <% else %>
                <td class="text-center"><%= @deal_second.try(:contract_period) %> months</td>
              <% end %>
            </tr>
             <tr>
              <td scope="row"></td>
              <% if app_user.present? && app_user.email_verified == true%>
                <% if @deal_first.is_order_available == true %>
                    <td class="text-center"><a  href="<%=order_website_app_users_path(:deal_id=> @deal_first.id)%>" class="order-btn">Order</a></td>
                <% else %>
                  <td  class="text-center">
                  <a id="order-btn" class="order-btn btn_3" >Not Available</a></td>
                <% end %>
              <% elsif app_user.present? && app_user.email_verified != true %>
                <td  class="text-center"><a class="order-btn" href="javascript:void(0)">Verify email</a></td>
              <% else %>
                <% if @deal_first.is_order_available == true %>
                   <td class="text-center"><a  href="<%=order_website_app_users_path(:deal_id=> @deal_first.id)%>" class="order-btn">Order</a></td>
                   <% else %>
                  <td  class="text-center">
                   <a id="order-btn" class="order-btn btn_3" >Not Available</a></td>
                   <% end %>
              <% end %>
             <% if app_user.present? && app_user.email_verified == true%>
                <% if @deal_second.is_order_available == true %>
                    <td class="text-center"><a  href="<%=order_website_app_users_path(:deal_id=> @deal_second.id)%>" class="order-btn">Order</a></td>
                <% else %>
                  <td  class="text-center">
                  <a id="order-btn" class="order-btn btn_3" >Not Available</a></td>
                <% end %>
              <% elsif app_user.present? && app_user.email_verified != true %>
                <td  class="text-center"><a class="order-btn" href="javascript:void(0)">Verify email</a></td>
              <% else %>
                <% if @deal_second.is_order_available == true %>
                   <td class="text-center"><a  href="<%=order_website_app_users_path(:deal_id=> @deal_second.id)%>" class="order-btn">Order</a></td>
                   <% else %>
                  <td  class="text-center">
                   <a id="order-btn" class="order-btn btn_3" >Not Available</a></td>
                   <% end %>
              <% end %>
            </tr>

  
          <%= render :partial => "#{@category}_compare_form" %> 
  
 





<%loop_length= [@deal_first.additional_offers.count,@deal_second.additional_offers.count].max%>
<%if loop_length > 0 %>
<tr>
   <table>
      <tr class="row-differ">
    <th scope="row" >Offer</th>
    <th></th>
    <th></th>
  </tr>
   </table>
</tr>

  <tr>
   <%loop_length= [@deal_first.additional_offers.count,@deal_second.additional_offers.count].max%>
    <%(0...loop_length).each_with_index do |offer,index|%>
    <table class="table table-bordered">
      <tr>
        <th width="30%">Title</th>
        <th width="30%" class="text-center"><%=@deal_first.additional_offers[index].try(:title).present? ? @deal_first.additional_offers[index].try(:title) : "N/A"%></th>
        <th width="30%" class="text-center"><%=@deal_second.additional_offers[index].try(:title).present? ? @deal_second.additional_offers[index].try(:title) : "N/A"%></th>
      </tr>
      <tr>
        <td>Price</td>
        <td class="text-center"> <%=@deal_first.additional_offers[index].try(:price).present? ? "$#{"%.2f" % @deal_first.additional_offers[index].try(:price)}" : "$0.00" %></td>
        <td class="text-center"><%=@deal_second.additional_offers[index].try(:price).present? ? "$#{"%.2f" % @deal_second.additional_offers[index].try(:price)}" : "$0.00" %></td>
      </tr>
    </table>
    <% end %>
  </tr>
  <% end %>
   <!--  <th class="text-center"><%#= @deal_second.additional_offers.try(:first).try(:title).present? ? @deal_second.additional_offers.try(:first).try(:title) : "NA" %></th> -->

  <!-- <tr>
    <td scope="row">Price</td>
    <td class="text-center"><%#= @deal_first.additional_offers.try(:first).try(:price).present? ? "$ #{@deal_first.additional_offers.try(:first).try(:price)}" : "NA" %></td>
    <td class="text-center"><%#= @deal_second.additional_offers.try(:first).try(:price).present? ? "$ #{@deal_second.additional_offers.try(:first).try(:price)}" : "NA" %></td>
  </tr> -->
  </tbody></table>
</div>
</div>
</section>







