<%= render :partial => 'website/home/internet_banner' %>
<section class="details">
  <div class="container">
    <div class="row">

      <%= render :partial=> 'website/home/left_filter' %>

      <div class="col-xs-12 col-sm-8 col-md-9 pagination_sec">
        <div class="row">

          <%= render :partial => 'website/home/sorting_filter' %>

          <div class="col-sm-12">
            <div id="compare_box" class="compare_box border-radius-bg affix" style="display: block;">
              <a class="close2" href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
              <div class="row">
                <div class="col-sm-10">
                  <div id="box1" class="col-sm-3">
                    <div class="compare_box_border">
                      <span><img src="img/AT&amp;T_logo_2005.png"></span>
                      <p>Products name here</p>
                      <a class="btn1" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="compare_box_border">
                      Add another Item
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="compare_box_border">
                      Add another Item
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="compare_box_border">
                      Add another Item
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"><a class="btn_2" href="<%= compare_deals_website_home_index_path %>">COMPARE</a></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row box-sec">
              <% @dashboard_data.each do |data| %>
              <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="border-radius-bg">
                  <div class="vertical_middle" style="overflow: hidden;"><img src="<%= data['deal_image_url1'] %>" alt=""></div>
                  <h5>$<%= data['deal_price'] %> <%= data['title'] %></h5>
                  <ul>
                    <li><%= data['download_speed'] %> Mbps Download Speed</li>
                    <li><%= data['upload_speed'] %> Mbps Upload Speeds</li>
                  </ul>
                  <a class="btn_more" href="#"> More Details</a>
                  <div class="box_down">
                    <span class="separator_2"></span>
                    <p>starting at</p>
                    <h2>$<%= data['effective_price'] %> <span class="light">/</span><span class="regular">mo</span></h2>
                    <a class="btn_2" href="#">customize</a>
                    <div class="checkbox checkbox-info">
                      <input class="comparebox-display" id="checkbox1" type="checkbox">
                      <label for="checkbox1"> Add to compare </label>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $( document ).ready(function() {
        $("#compare_box").hide();
    });
</script>