
<%= render :partial => 'website/home/internet_banner',  locals: { :category_name => @category_name.capitalize }%>

<!--More Details section-->
<section class="more-details">
  <div class="container">
    <div class="row">
         <div class="col-sm-4 right-offer">
           <div class="border-radius-bg">
             <img src="<%= @deal.image.url %>" class="img-responsive">
             <ul>
               <li>Base Monthly Price $<%= "%.2f" % @deal.price %></li>
               <li>Base Installation $0.00</li>
               <li>Contract : <%= @deal.contract_period %> months</li>
                <li>Effective Price : $<span id= "effective_price">0.00</span></li>
             </ul>
           </div>
           <%if  @current_user.present? %>
             <%if @current_user.email_verified%>
               <a onclick="check_for_options()" class="order-btn" href="<%=order_website_app_users_path(:deal_id=> @deal.id)%>" id="<%=@deal.id%>">Order</a>
             <%else%>
                  <a class="order-btn" href="javascript:void(0)">Verify email</a>
             <%end%>
           <%else%>
             <a  onclick="check_for_options()" class="order-btn" href="<%=order_website_app_users_path(:deal_id=> @deal.id)%>" id="<%=@deal.id%>">Order</a>
           <%end%>
           <%if @category_name == "cable" && @deal.cable_deal_attributes.last.channel_ids.present? && @deal.is_customisable != true%>
            <a class="order-btn" href="#" data-toggle="modal" data-target="#myModal2">Channel List</a> </td>
            <% end %>

         </div>

        <div class="col-sm-8 about-offer">
           <div class="about-offer-details sd-more-details-page">
        <a class="shareon-fb pull-right" onclick="postLike()"><i class="fa fa-facebook">&nbsp;</i>Share on Facebook</a>
        <h4><%= @deal.title %></h4>
        <h5>About the offer</h5>

        <p></i><%=@deal.short_description.to_s.gsub(/\n/,"<br> ").html_safe%></p>
        <p></i><%=@deal.detail_description.to_s.gsub(/\n/,"<br>").html_safe%></p>
        <%if @customized_deals.present?%>
         <%= render :partial => "#{@customized_deals["service_category_name"].downcase}_customize_deal", :locals =>{:customized_deals =>@customized_deals }  %>
         <%else%>
         <%= render :partial => "#{@category_name}_deal_form" %>
         <%end%>
          <% if @deal.try(:additional_offers).present? %>
            <h5 class="">Additional Offer</h5>
            <% @deal.try(:additional_offers).each do |additional_offer| %>
                <table class="table table-bordered">
                  <thead>
                  <tr class="active">
                    <th colspan="3"><%= additional_offer.try(:title) %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td width="20%">Price</td>
                    <td width="80%" colspan="2">$<%= "%.2f" % additional_offer.try(:price) %></td>
                  </tr>
                  </tbody>
                </table>
            <% end %>
        <% end %>
        <div id="reviews-section" class="">
          <h3 id="reviews-header" style="width: 100%; float: left"></h3>
            <div class="add-reviews-div" style="padding-bottom: 11px;height:340px">
              <%=form_for CommentRating.new, :url => "/api/v1/comment_ratings", :method => "post" do |f|%>
            <h4>Rate this deal!</h4>
              <input id="comment_rating_rating_point" value="1" data-min="0" data-max="5" data-step="0.5" data-size="sm"><hr/>
              <%=f.text_field:comment_title, :class => "form-control", :placeholder => "Add Comment title", :required => true%><br />
              <%=f.text_area:comment_text, :class => "form-control", :placeholder => "Add Comment", :required => true%><br />
              <%=f.hidden_field:deal_id, :value=>params[:deal_id]%>
                <%=f.hidden_field:app_user_id, :value=>session[:user_id]%>
                <%=f.submit("Save", :class=>"order-btn",:style=>"width: 50%;margin: auto 29%;background-color: green;",:onclick=>"add_comments()")%>
              <%end%>
            </div>
            <div></div>
            <div id="reviews-inner-area"></div>
        </div>

      </div>
    </div>
   </div> </div>
  <script>


  $("#comment_rating_rating_point").rating('create',{coloron:'green',onClick:function(){ alert('rating is ' + this.attr('data-rating')); }});

  function add_comments(){
    event.preventDefault();
    if($("#comment_rating_app_user_id").val()!=""){
      $.ajax({
        url:"/api/v1/comment_ratings",
        type:"post",
        data: {
          app_user_id:$("#comment_rating_app_user_id").val(),
          deal_id:$("#comment_rating_deal_id").val(),
          rating_point:$("#comment_rating_rating_point").val(),
          comment_title:$("#comment_rating_comment_title").val(),
          comment_text:$("#comment_rating_comment_text").val()
        },
        success: function(d){
          location.reload();
        }
      });
    }
    else
    alert("Please login to comment!");
  }
  $(document).ready(
    function(){
      $("#comment_rating_rating_point").addClass("form-control");
    }
  )
  </script>
</section>
<!--End of More Details section-->


<div class="modal fade text-left" id="myModal2" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body channel_popup">
        <button type="button" class="close" data-dismiss="modal">×</button>
          <div class="scroller">
            <table class="table table-bordered">
              <div class="channel_heading">
                <h1>Channel List</h1>
              </div>
              <div class="col-md-12" id="ajaxdata">
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var checkedValues,dealids;
  $( document ).ready(function() {
    dealids = [
      <% if @deal_ids.present? %>
        <%= @deal_ids.map(&:to_s).join(", ") %>
      <%end%>
    ];
    for(i=0;i<dealids.length;i++){
      $("#"+dealids[i]).addClass("btn_3");
      $("#"+dealids[i]).text("Already Ordered");
      $("#"+dealids[i]).prop("href","javascript:void(0)")
    }
    dealids=[];

    <% if @category_name == "cable" %>
      $.ajax({
        url:"/api/v1/get_deal_channels",
        type: "GET",
        data:{ deal_id: "<%=@deal.id%>"},
        success: function(data){
          var i,j;
          var length = data['channels'].length;
          for (i=0; i<length; i++){
            var category_name = data['channels'][i]['category_name'];
            var div_id="data_"+parseInt((Math.random()*100)+Date.now());
            $("#ajaxdata").append("<ul class='row channel-list' id='"+div_id+"'>"+"<h3>"+category_name+"</h3>"+"</ul>");
            for(j=0; j<data['channels'][i]['channel'].length;j++){
              $("#"+div_id).append("<li>"+data['channels'][i]['channel'][j]['channel_name']+"</li>");
            }
          }
        }
       });
    <% end %>
    var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,"n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}
    $.ajax({
      url:"/api/v1/comment_ratings",
      type:"GET",
      data: {
        deal_id:<%=params[:deal_id]%>,
        request_type:"site"
      },
      success: function(data){
        if(data["success"] == true) {
        $("#reviews-header").html("Reviews ("+data["comment_count"]+")");
        for(i=0;i<data["comment_count"];i++) {
          name=Base64.decode(data["comment"][i]["app_user_name"])
          $("#reviews-inner-area").append("<h2>"+name+"</h2><p>Rating point :"+data["comment"][i]["rating_point"]+"</p><p>"+data["comment"][i]["comment_title"]+"</p><p>"+data["comment"][i]["comment_text"]+"</p>");
          console.log(name)
        }
      }
    }
    })
  });
  $(document).ready(function(){
Array.prototype.contains = function(v) {
    for(var i = 0; i < this.length; i++) {
        if(this[i] === v) return true;
    }
    return false;
};

Array.prototype.unique = function() {
    var arr = [];
    for(var i = 0; i < this.length; i++) {
        if(!arr.contains(this[i])) {
            arr.push(this[i]);
        }
    }
    return arr;
}
});

function check_for_options(){
   // event.preventDefault();
    deal_equipments =[];
    $("input[type='radio']:checked").each(function(){
    value=this.value;
    console.log("value");
    if(value!="option1" ) {
        value=this.value.split("_");
        jsonObj1 = {};
        jsonObj1["equipment_id"] = value[0];
        jsonObj1["color"] = value[1];
        // jsonObj1["equipment_price"] = value[2];
        deal_equipments.push(jsonObj1);
      }
    });

   deal_attributes=[];
    $("input[name='deal_attributes']:checked").each(function(){
    value=$(this).attr("val");
    jsonObj3 ={};
    jsonObj3["ref_id"]=value.split("_")[0];
    jsonObj3["ref_type"]=value.split("_")[1];
    deal_attributes.push(jsonObj3)
    });
    $("input[name='deal_channel_packages']:checked").each(function(){
    value=$(this).attr("val");
    jsonObj4 ={};
    jsonObj4["equipment_id"]=value.split("_")[0];
    jsonObj3["ref_type"]=value.split("_")[1];
    deal_attributes.push(jsonObj3)
    });

    cable_deal_equipments=[];
    $("input[name='cable_deal_equipments']:checked").each(function(){
    value=$(this).attr("val");
    jsonObj3 ={};
    jsonObj3["equipment_id"]=value.split("_")[0];
    // jsonObj3["ref_type"]=value.split("_")[1];
    cable_deal_equipments.push(jsonObj3)
    });

    deal_extra_services=[];
    $("input[name='deal_extra_services']:checked").each(function(){
    value=$(this).attr("val");
    jsonObj2 ={};
    jsonObj2["deal_extra_service_id"]=value.split("_")[0];
    deal_extra_services.push(jsonObj2)
    });

    console.log(deal_attributes)
    console.log(deal_extra_services);
    console.log(deal_equipments);
    localStorage["deal_attributes"] = JSON.stringify(deal_attributes);
    localStorage["deal_extra_services"] = JSON.stringify(deal_extra_services);
    localStorage["deal_equipments"] = JSON.stringify(deal_equipments);
    localStorage["cable_deal_equipments"] = JSON.stringify(cable_deal_equipments);
}



</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1667446600239604',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

function postLike(){
  FB.ui({
  method: 'share',
  href: 'http://52.39.217.10/website/home/more_deal_details?deal_id=<%=@deal.id %>',
}, function(response) {
         if (!response) {
           // alert('Error occurred.');
         } else if (response.error) {
           document.getElementById('result').innerHTML =
             'Error: ' + response.error.message;
         } else {
           document.getElementById('result').innerHTML =
             '<a href=\"https://www.facebook.com/me/activity/' +
             response.id + '\">' +
             'Story created.  ID is ' +
             response.id + '</a>';
         }
       });
}
</script>
<script>
$(document).ready(function() {
  var effective_price = parseFloat($('#effective_price').text());
  var chkId = 0;
  $('input[type=checkbox]').on('change', function() {
    $(this).each ( function() {
      effective_price = parseFloat($('#effective_price').text());
      if($(this).prop('checked') == true){
        effective_price = parseFloat($('#effective_price').text());
        chkId =$(this).attr("val").split("_")[1];
        effective_value = effective_price + parseFloat(chkId);
        $('#effective_price').text(effective_value);
      }
      else{
        effective_price = parseFloat($('#effective_price').text());
        chkId =$(this).attr("val").split("_")[1];
        effective_value = effective_price - parseFloat(chkId);
        $('#effective_price').text(effective_value );
      }
      localStorage["effective_price"] = JSON.stringify(effective_value);
    });
  });

  var ids=new Array();

  $('input[type=radio]').on('change', function() {
    var price = [];
    var eff_price =parseFloat($("#effective_price").text());
    var sum=0;

     id=this.value.split("_")[0];
     console.log(id);
     if (ids.contains(id) == false){
      ids.push(id);
      $("#effective_price").text( parseFloat($("#effective_price").text())+parseFloat(this.value.split("_")[1]))
     }
     console.log(ids)
  });
});




</script>
