

<!-- banner -->
<!-- <section class="inner internet-banner bundle">
  <div class="container text-center">
    <h3><%= @category_name.capitalize%></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  </div>
</section> -->
<%= render :partial => 'website/home/internet_banner',  locals: { :category_name => @category_name.capitalize }%>

<!--More Details section-->
<section class="more-details">
  <div class="container">
    <div class="row">
      <h3 class="col-sm-12 text-center"> Deal Details </h3>
      <div class="col-sm-12 text-center alert alert-success"><b><%= @deal.title %></b></div>
      <div class="col-sm-8 about-offer">

        <h5>About the offer</h5>

        <p><%= @deal.short_description %></p>
        <p><%= @deal.detail_description %></p>
        <%= render :partial => "#{@category_name}_deal_form" if @deal_equipments.present? && @category_name != "cellphone"  %>
         <% if @deal.try(:additional_offers).present? %>
            <h5 class="margin_bot20">Additional Offer</h5>
            <% @deal.try(:additional_offers).each do |additional_offer| %>
                <table class="table table-bordered">
                  <thead>
                  <tr class="active">
                    <th colspan="3"><%= additional_offer.try(:title) %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td width="20%">Price</td>
                    <td width="80%" colspan="2">$<%= additional_offer.try(:price) %></td>
                  </tr>
                  </tbody>
                </table>
            <% end %>
        <% end %>
      </div>

      <div class="col-sm-3 col-sm-offset-1  right-offer">
        <div class="border-radius-bg">
          <img src="<%= @deal.image.url %>" width="100">
          <ul>
            <li>Base Monthly Price $<%= @deal.price %></li>
            <li>Base Installation $0.00</li>
            <li>Contract : <%= @deal.contract_period %> months</li>
          </ul>
        </div>
        <a class="btn_2" href="<%= order_website_app_users_path(:deal_id=> @deal.id)%>"  id="<%=@deal.id%>">Order</a>
        <%if @category_name == "cable" && @deal.cable_deal_attributes.last.channel_ids.present?%>
         <a class="btn_2" href="#" data-toggle="modal" data-target="#myModal2">Channel List</a> </td>
         <% end %>
      </div>

    </div>

  </div>
</section>
<!--End of More Details section-->



<div class="modal fade text-left" id="myModal2" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body channel_popup">
        <button type="button" class="close" data-dismiss="modal">×</button>
          <div class="scroller">
            <table class="table table-bordered">
              <div class="channel_heading">
                <h1>Channel List</h1>
              </div>

              <div class="col-md-12" id="ajaxdata">

                <!-- <h4 id="channel_category_name"></h4>
                <ul>
                  <li id="channel_name"><a href="#"></a></li>

                </ul> -->
              </div>


            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var checkedValues,dealids;
  $( document ).ready(function() {
    dealids = [
      <% if @deal_ids.present? %>
        <%= @deal_ids.map(&:to_s).join(", ") %>
      <%end%>
    ];
    for(i=0;i<dealids.length;i++){
      $("#"+dealids[i]).addClass("btn_3");
      $("#"+dealids[i]).text("Already Ordered");
      $("#"+dealids[i]).prop("href","javascript:void(0)")
    }
    dealids=[];

    <% if @category_name == "cable" %>
      $.ajax({
        url:"/api/v1/get_deal_channels",
        type: "GET",
        data:{ deal_id: "<%=@deal.id%>"},
        success: function(data){
          var i,j;
          var length = data['channels'].length;
          for (i=0; i<length; i++){
            var category_name = data['channels'][i]['category_name'];
            var div_id="data_"+parseInt((Math.random()*100)+Date.now());
            $("#ajaxdata").append("<ul class='row channel-list' id='"+div_id+"'>"+"<h3>"+category_name+"</h3>"+"</ul>");
            for(j=0; j<data['channels'][i]['channel'].length;j++){
              $("#"+div_id).append("<li>"+data['channels'][i]['channel'][j]['channel_name']+"</li>");
            }
          }
        }
       });
    <% end %>
  });



</script>
