

<!-- banner -->
<section class="inner internet-banner bundle">
  <div class="container text-center">
    <h3><%= @category_name.capitalize%></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  </div>
</section>
<!--More Details section-->
<section class="more-details">
  <div class="container">
    <div class="row">
      <h3 class="col-sm-12 text-center"> Deals Details </h3>
      <div class="col-sm-8 about-offer">
        <h5>About the offer</h5>
        <p><%= @deal.title %></p>
        <p><%= @deal.short_description %></p>
        <p><%= @deal.detail_description %></p>
        <%= render :partial => "#{@category_name}_deal_form" if @deal_equipments.present? %>
        <% if @deal.try(:additional_offers).present? %>
            <h5 class="margin_bot20">Additional Offer</h5>
            <% @deal.try(:additional_offers).each do |additional_offer| %>
                <table class="table table-bordered">
                  <thead>
                  <tr class="active">
                    <th colspan="3"><%= additional_offer.try(:title) %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td width="20%">Price</td>
                    <td width="80%" colspan="2">$<%= additional_offer.try(:price) %></td>
                  </tr>
                  </tbody>
                </table>
            <% end %>
        <% end %>
      </div>

      <div class="col-sm-3 col-sm-offset-1  right-offer">
        <div class="border-radius-bg">
          <img src="<%= @deal.image.url %>" width="100">
          <ul>
            <li>Base Monthly Price $<%= @deal.price %></li>
            <li>Base Installation $0.00</li>
            <li>Expiry Date : <%= (@deal.end_date).strftime("%m/%d/%Y") %></li>
          </ul>
        </div>
        <a class="btn_2" href="<%= order_website_app_users_path(:deal_id=> @deal.id)%>"  id=<%=@deal.id%>>Order</a>
      </div>

    </div>

  </div>
</section>
<!--End of More Details section-->
<div class="modal fade text-left" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body channel_popup">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <div class="scroller">
          <table class="table table-bordered">
            <div class="channel_heading">
              <h1>Channels by Plans and Packages</h1>
              <p>This chart shows a sample of programming by TV plan. All services may not be available in all areas.</p>
              <a href="javasrcipt:void(0)">See channels by package in your area ›</a>
            </div>
            <thead>
            <tr class="active">
              <th>Network</th>
              <th>200+ Channels <span>Preferred</span></th>
              <th>70+ Channels <span>Standard</span></th>
              <th>20+ Channels <span>Starter</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>A & E*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>ABC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>AMC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>American Heroes Channel</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Animal Planet*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Aspire</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Azteca*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>BBC America*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>BBC World News</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>BET*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>BET Jams</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Big Ten Network*~</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Bloomberg*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Bravo*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Cartoon Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>CBS*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>CCTV News</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Centric</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Chiller</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>CLOO</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>CMT*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>CNBC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>CNBC World</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>CNN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Comedy Central*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Cooking Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>C-SPAN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>C-SPAN 2*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>C-SPAN 3*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>CW*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>Daystar</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Destination America*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Discovery*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Discovery Life Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Disney*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Disney Junior*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Disney XD*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>DIY*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>E!*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Educational Access</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>ESPN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>ESPN 2*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>ESPN Deportes*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>ESPN News*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>ESPNU*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Esquire Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>EVINE Live</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>EWTN</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Food Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Fox*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Fox Business Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Fox Deportes*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Fox News Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Fox Sports 1*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Freeform*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>FUSE*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>FX*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>FX Movie Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>FXX*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>FYI*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Galavision</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Golf*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Government Access</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>GSN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Hallmark*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Hallmark Movies & Mysteries*s</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>HGTV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>History*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>HLN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>HSN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>IFC</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>CLOO</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>CMT*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>CNBC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>CNBC World</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>CNN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Comedy Central*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Cooking Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>C-SPAN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>C-SPAN 2*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>C-SPAN 3*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>CW*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>Daystar</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Destination America*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Discovery*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Discovery Life Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Disney*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Disney Junior*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Disney XD*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>DIY*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>E!*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Educational Access</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>ESPN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>ESPN 2*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>ESPN Deportes*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>ESPN News*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>ESPNU*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Esquire Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>EVINE Live</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>EWTN</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Food Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Fox*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Fox Business Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Fox Deportes*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Fox News Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Fox Sports 1*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Freeform*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>FUSE*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>FX*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>FX Movie Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>FXX*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>FYI*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Galavision</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Golf*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Government Access</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>GSN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Hallmark*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Hallmark Movies & Mysteries*s</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>HGTV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>History*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>HLN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>HSN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>IFC</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>INSP</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Investigation Discovery*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>ION</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Jewelry Television*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Leased Access</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Lifetime*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Lifetime Real Women*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Logo</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>MLB Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>MSNBC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>MTV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>MTV 2*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>MTV Hits</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>MTV Live*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Music Choice^</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>National Geographic*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>National Geographic Wild*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>NBA TV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>NBC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>NBC Sports Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>NFL Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Nick Jr*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Nick Toons*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Nickelodeon*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>On Demand Channels*†~^</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Outdoor Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Ovation</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>OWN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Oxygen*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>PAC 12~</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>PBS*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Pop*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Public Access</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>QVC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>Reelz*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Science*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Shop Zeal</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Smithsonian</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Spike TV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Sprout</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Sundance*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>SyFy*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TBN</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>TBS*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TCM*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Teen Nick</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Telemundo*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>Telemundo 2</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>The Weather Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>TLC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TNT*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Travel Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>truTV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>TV Land*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TV One*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>TWC Deportes*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TWC News*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>TWC SportsNet*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">TWC SportsNet LA*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Univision*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>UP*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>USA*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Velocity*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>VH1*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>VH1 Classic*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>WGN America*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>INSP</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Investigation Discovery*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>ION</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Jewelry Television*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Leased Access</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Lifetime*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Lifetime Real Women*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Logo</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>MLB Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>MSNBC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>MTV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>MTV 2*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>MTV Hits</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>MTV Live*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Music Choice^</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>National Geographic*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>National Geographic Wild*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>NBA TV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>NBC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>NBC Sports Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>NFL Network*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Nick Jr*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Nick Toons*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Nickelodeon*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>On Demand Channels*†~^</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Outdoor Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Ovation</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>OWN*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Oxygen*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>PAC 12~</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>PBS*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>Pop*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Public Access</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr class="active">
              <th>QVC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>Reelz*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Science*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Shop Zeal</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Smithsonian</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Spike TV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Sprout</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Sundance*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>SyFy*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TBN</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>TBS*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TCM*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Teen Nick</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>Telemundo*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>Telemundo 2</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>The Weather Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>TLC*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TNT*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Travel Channel*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>truTV*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>TV Land*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TV One*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>TWC Deportes*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>TWC News*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>TWC SportsNet*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">TWC SportsNet LA*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Univision*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>UP*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>USA*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>Velocity*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr class="active">
              <th>VH1*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
            </tr>
            <tr>
              <th>VH1 Classic*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>WGN America*</th>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
              <td><i class="fa fa-check" aria-hidden="true"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

