<% if @order_history.present? %>
    <div id="home" class="tab-pane fade active in">
      <div class="row desc_heading">
        <div class="col-xs-4 col-md-5"> <h5>Description</h5> </div>
        <div class="col-xs-8 col-md-7">
          <div class="row">
            <div class="col-xs-3"> <h5>Status</h5> </div>
            <div class="col-xs-3"> <h5>Price</h5>   </div>
            <div class="col-xs-3"> <h5>Order No.</h5> </div>
            <div class="col-xs-3"> <h5>Order Total</h5> </div>
          </div>
        </div>
      </div>
      <% @order_history.each do |order| %>
          <div class="row desc_cont">
            <div class="col-xs-4 col-md-5">
              <span class="img_border"><%= image_tag("#{Deal.find_by_id(order.order_items.first.deal_id).image}", :alt => "logo") %></span>
              <!-- <img src="img/AT&amp;T_logo_2005.png" alt="logo"> -->
              <p class="para_3"><%= Deal.find_by_id(order.order_items.first.deal_id).short_description %></p>
            </div>
            <div class="col-xs-8 col-md-7">
              <div class="row">
                <div class="col-xs-3"> <p><span class="panding"><%= order.status %></span></p> </div>
                <div class="col-xs-3"> <p><%= order.order_items.first.deal_price%></p>   </div>
                <div class="col-xs-3"> <p><%= order.order_number%></p> </div>
                <div class="col-xs-3"> <p><%= order.order_items.first.effective_price %></p> </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<%elsif%>
    </br><div style="color:red; padding-left:200px">There are no Orders in this category.</div>
<% end %>
