
<section class="bandwidth-banner ">
  <div class="container text-center">
    <h3>Reset Password</h3>
  </div>
</section>

<section class="bandwidth-calc account_page_height">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <p>Please enter a new pasword for your ServiceDealz.com account </p>
      </div>
     


<div class="col-md-12  reset-password">
   <div class="col-md-6">
<%= form_for @app_user, :url => update_password_website_app_users_path(id: params[:id]), :method => "post" do |f| %>
  <% if @app_user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field"> -->
     <div class="usage-type"> <strong>New Password</strong>
    <%= f.password_field :password, :class=>"form-control"  %>
  </div>
  <!-- <div class="field"> -->
    <div class="usage-type"> <strong>Confirm Password</strong>
    <%= f.password_field :password_confirmation , :class=>"form-control"%>
  </div>
</div>
  <div class="col-md-12 actions"><%= f.submit "Update Password", :class=> "btn bandwidth-btn" %></div>
<% end %>


</div>
</div>
</section>

<!-- <div class="col-md-12  reset-password">
        
        <div class="col-md-6">
          
          <div class="usage-type"> <strong>Old Password</strong>
          
            
              <input class="form-control" placeholder="Enter new Password" type="text">
            
        
            
             </div>
             <div class="usage-type"> <strong>New Password</strong>
          
          
              <input class="form-control" placeholder="Enter new Password" type="text">
            
          
            
             </div>
        </div>
        <div class="col-md-12">
          <button  class="btn bandwidth-btn" type="button"> Save Changes</button>
        </div>
        
        
      </div>
 -->