
<% deal = @order.order_items.first.deal 
  category_name = deal.service_category.name.downcase
  deal_equipment = eval("deal.try(:#{category_name}_deal_attributes).first.try(:#{@category_name}_equipments)")
  app_user = @order.app_user 
  billing_address = @order.order_addresses.where(address_type: 2).first
  shipping_address = @order.order_addresses.where(address_type: 1).first
  service_address = @order.order_addresses.where(address_type: 0).first
  business = app_user.try(:business_app_users).first.try(:business)
  %>
<!--//nav-->
<section class="account-banner">
  <div class="container">
        <div class="row">
          <h3 class="text-center"> Order Detail</h3>
        </div>
    </div>
</section>
<section class="order-details">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="left-order-dt">
          <div class="ordersty-top">
            <div class="order-no-dt pull-left"> Order No: <span><%= @order.order_number%></span> 
              <span class="style4">
              <%= @order.created_at.strftime("%d  %b %Y") %>  &nbsp; <%= @order.created_at.strftime("%I.%M %p ") %>  
            </span>
            </div>
            <div class="order-no-dt pull-right"> AT&T Order No:<span>114568026973</span><br/>
              <button type="button" class=" btn accepted-btn">Accepted</button>
              <button type="button" class=" btn recontracted-btn">Accepted</button>
            </div>
          </div>
          <div class="order-service-dt">
            <div class="order-service-left col-md-8">
              <div class="servicelogo-sty"><img src="<%= deal.image.present? ? deal.image.url : '' %>" alt="<%= deal.title %>" class="img-responsive" /> </div>
              <div class="servicedt-text"><%=deal.short_description  %></br>
                <span class="in-progress-btn"><%= @order.status %> </span> 
              </div>
            </div>
            <div class="order-product-right col-md-4">
              <div class="order-price">Price <span>$<%= deal.price %></span> </div>
              <div class="order-efprice"> <span>Effective Price</span> <%= deal.effective_price  %> </div>
              <div><span class="saveurdollar">You Save   $40.29</span></div>
            </div>
          </div>
          <% if deal_equipment.present? %>
          <div class="equipment-details">
            <h5>Equipments  &  Installation</h5>
            <% if category_name == "cellphone" %>
            <table class="table table-bordered">
              <thead>
                <tr class="active">
                  <th colspan="3"><%= deal_equipment.try(:model) %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="20%">Make</td>
                  <td width="80%" colspan="2"><%= deal_equipment.try(:make) %></td>
                </tr>
                <tr>
                  <td width="20%">Memory</td>
                  <td width="80%" colspan="2">$<%= deal_equipment.try(:memory) %></td>
                </tr>
                <tr>
                  <td width="20%">Price</td>
                  <td width="80%" colspan="2">$<%= deal_equipment.try(:price) %></td>
                </tr>
                <tr>
                  </td>
                </tr>
              </tbody>
            </table>
            <% else %>
            <table class="table table-bordered">
              <thead>
                <tr class="active">
                  <th colspan="3"><%= deal_equipment.try(:name) %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="20%">Installation</td>
                  <td width="80%" colspan="2"><%= deal_equipment.try(:installation) %></td>
                </tr>
                <tr>
                  <td width="20%">Price</td>
                  <td width="80%" colspan="2">$<%= deal_equipment.try(:price) %></td>
                </tr>
              </tbody>
            </table>
            <% end %>
            <% end %>
            <!-- <span class="saveurdollar">You Save   $40.29</span>  -->
          </div>
          <div class="address-det">
            <div class="applicant-telcome col-md-6 border-ones">
              <h2>Applicant</h2>
              <ul>
                <li>
                  <div class="col1">Name:</div>
                  <div class="col2"><%= app_user.first_name + ' ' +app_user.last_name %></div>
                </li>
                <li>
                  <div class="col1">Contact No:</div>
                  <div class="col2"><%= app_user.try(:mobile) %></div>
                </li>
                <li>
                  <div class="col1">Email:</div>
                  <div class="col2"><%= app_user.try(:email) %></div>
                </li>
                <li>
                  <div class="col1">Primary Id:</div>
                  <div class="col2"><%= app_user.try(:primary_id) %></div>
                </li>
                <li>
                  <div class="col1">Secondary Id:</div>
                  <div class="col2"><%= app_user.try(:secondary_id) %></div>
                </li>
              </ul>
            </div>
            <% if app_user.user_type == AppUser::BUSINESS %>
            <div class="applicant-telcome col-md-6 marginL20">
              <h2>Telecom Manager</h2>
              <ul>
                <li>
                  <div class="col1">Name:</div>
                  <div class="col2"><%= business.try(:manager_name) %></div>
                </li>
                <li>
                  <div class="col1">Contact No:</div>
                  <div class="col2"><%= business.try(:manager_contact) %></div>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
          <div class="billing-det bor-btno">
            <div class="applicant-telcome col-md-4">
              <h2>Billing Address</h2>
              <ul>
                <li>
                  <div class="col1 coll2"><%= billing_address.try(:address_name) %></div>
                </li>
                <li>
                  <div class="col1 coll2"><%= billing_address.try(:address1) %></div>
                </li>
                <li>
                  <div class="col1 coll2"><%= billing_address.try(:address2) %></div>
                </li>
              </ul>
            </div>
            <div class="applicant-telcome col-md-4">
              <h2>Shipping Address</h2>
              <ul>
                <li>
                  <div class="col1 coll2"><%= shipping_address.try(:address_name) %></div>
                </li>
                <li>
                  <div class="col1 coll2"><%= shipping_address.try(:address1) %></div>
                </li>
                <li>
                  <div class="col1 coll2"><%= shipping_address.try(:address2) %></div>
                </li>
              </ul>
            </div>
            <div class="applicant-telcome col-md-4">
              <h2>Service Address</h2>
              <ul>
                <li>
                  <div class="col1 coll2"><%= service_address.try(:address_name) %></div>
                </li>
                <li>
                  <div class="col1 coll2"><%= service_address.try(:address1) %></div>
                </li>
                <li>
                  <div class="col1 coll2"><%= service_address.try(:address2) %></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <% if app_user.user_type == AppUser::BUSINESS %>
        <div class="col-md-4">
          <div class="right-order-dt">
            <div class="applicant-telcome">
              <% if app_user.business_app_users.first.business.business_type ==  Business::REGISTERED %>
              <h2>Registered</h2>
              <ul>
                <li>
                  <div class="col1">Business Name:</div>
                  <div class="col2"><%= business.try(:business_name) %></div>
                </li>
                <li>
                  <div class="col1">DBA : </div>
                  <div class="col2"><%= business.try(:business_dba) %></div>
                </li>
                <li>
                  <div class="col1">Federal Tax ID: </div>
                  <div class="col2"><%= business.try(:federal_number) %></div>
                </li>
                <li>
                  <div class="col1">Dan & Bradstreet Number: </div>
                  <div class="col2"><%= business.try(:db_number) %></div>
                </li>
              </ul>
              <% elsif app_user.business_app_users.first.business.business_type ==  Business::SOLE_PROPRIETOR %>
                <h2>SOLE PROPRIETOR</h2>
               <ul>
                <li>
                  <div class="col1">Business Name:</div>
                  <div class="col2"><%= business.try(:business_name) %></div>
                </li>
                <li>
                  <div class="col1">SSN:</div>
                  <div class="col2"><%= business.try(:ssn) %></div>
                </li>
                <li>
                  <div class="col1">DOB:</div>
                  <div class="col2"><%= business.try(:dob)%></div>
                </li>
              </ul>
            <% end %>
            </div>
          </div>
        </div>
        <% else %>
        <div class="col-lg-4">
              <div class="order-info text-center">
                <div class="thumb"><img src="<%= deal.image.present? ? deal.image.url : '' %>" alt="<%= deal.title %>" height="70" width="155"></div>
                <h2 class="text-center"><%= deal.title %></h2>
                <div class="text-center">
                  <small><%= deal.short_description %></small><br />
                  <small> Contract period <%= deal.contract_period %></small>
                </div>
                <div class="gen-info">
                  <table class="table table-condensed">
                    <tr>
                      <td align="right" width="50%">Price</td>
                      <td align="left"  width="50%" class="bold">$<%= deal.price %></td>
                    </tr>
                    <tr>
                      <td  align="right" class="bold effective-color">Efective Price</td>
                      <td  align="left" class="bold">$<%= deal.effective_price %></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</section>
<!--Order-form--> 
<script>
  $(".registerDetails").hide();
  $("#soleprop").click(function(){
  
    $(".registerDetails").hide();
    $(".soleproDetails").show();
  });
  
  $("#registered").click(function(){
    
    $(".soleproDetails").hide();
    $(".registerDetails").show();
  });
  
</script> 
<script>
  $('.btnNext').click(function(){
    $('.nav-tabs > .active').next('li').find('a').trigger('click');
  });
  
    $('.btnPrevious').click(function(){
    $('.nav-tabs > .active').prev('li').find('a').trigger('click');
  });
</script>

