<script type="text/javascript" src="jquery.min.js"></script>
<section class="account-banner">
  <div class="container">
        <div class="row">
          <h3 class="text-center"> Order Form</h3>
        </div>
    </div>
</section>

<section class="order-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="order-info text-center">
          <div class="thumb"><img src="<%= @deal.image.present? ? @deal.image.url : '' %>" alt="<%= @deal.title %>" height="70" width="155"></div>
          <h2 class="text-center"><%= @deal.title %></h2>
          <div class="text-center">
            <small><%= @deal.short_description %></small><br />
            <small> Contract period <%= @deal.contract_period %></small>
          </div>
          <div class="gen-info">
            <table class="table table-condensed">
              <tr>
                <td align="right" width="50%">Price</td>
                <td align="left"  width="50%" class="bold">$<%= @deal.price %></td>
              </tr>
              <tr>
                <td  align="right" class="bold effective-color">Efective Price</td>
                <td  align="left" class="bold">$<%= @deal.effective_price %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="tabber">
          <div class="tab-wrapper tab-primary">
            <ul class="nav nav-tabs">
              <li class="active"><a id="personal_information_menu_tab" data-toggle="tab" href="#personal-info">Personal Information</a></li>
              <% if @app_user.user_type == "business" %>
              <li><a id="business_information_menu_tab" data-toggle="tab" href="#business-info">Business Information</a></li>
              <% end %>
              <li><a id="address_information_menu_tab" data-toggle="tab" href="#address-info">Address Information</a></li>
              <li><a id="order_information_menu_tab" data-toggle="tab" href="#order-review" id="ordertab">Order Review</a></li>
            </ul>
            <%= form_tag create_order_website_app_users_path(@app_user), method: :post, :id=> "order_create_form" do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="tab-content formContainer">
              <!-- About -->
              <div id="personal-info" class="tab-pane active">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="col-md-6 padding15right">
                      <label for="Name" class="control-label">First Name*</label>
                      <%= text_field_tag('app_user[first_name]',Base64.decode64(@app_user.first_name).titleize,:class => 'form-control input-md',:placeholder => 'First Name', :id=> 'first_name',maxlength: 20) %>
                    </div>
                    <div class="col-md-6">
                      <label for="Name" class="control-label">Last Name*</label>
                      <%= text_field_tag('app_user[last_name]',Base64.decode64(@app_user.last_name).titleize,:class => 'form-control input-md',:placeholder => 'Last Name', :id=> 'last_name', maxlength: 20) %>
                    </div>
                    <div class="col-md-6 padding15right">
                      <label for="Name" class="control-label">Contact Number*</label>
                      <%= phone_field_tag('app_user[mobile]',@app_user.mobile,:class => 'form-control input-md',:placeholder => 'Mobile Number', :id=> "mobile", :maxlength=>10) %>
                    </div>
                    <div class="col-md-6">
                      <label for="Name" class="control-label">Email</label>
                      <%= email_field_tag('app_user[email]',@app_user.email,:class => 'form-control input-md',:placeholder => 'Your Email Address',:disabled => true) %>
                    </div>
                    <div class="col-md-6 padding15right">
                      <label for="Name" class="control-label">Primary Id*</label>
                      <%= select_tag(:primary_id,options_for_select(["Driver License" , "Passport","State ID Card", "US Military Card", "US Military Department ID Card", "US Coast Guard Merchant Mariner Card", "EAD" ],selected: @app_user.try(:orders).try(:last).try(:primary_id)),:class => 'form-control',:id => "primary_id") %>
                    </div>
                    <div class="col-md-6">
                      <label for="Name" class="control-label">Primary Id Number</label>
                      <%= text_field_tag(:primary_id_number,@app_user.primary_id_number,:class => 'form-control input-md',:placeholder => 'Primary Id Number', :id=> 'primary_id_number', :maxlength=>"20") %>
                    </div>
                    <div class="col-md-6">
                      <label for="Name" class="control-label">Secondary Id*</label>
                      <%= select_tag(:secondary_id,options_for_select(["Major credit card" , "Driver License","Passport"," State ID Card", "US Military Card", "US Military Department ID Card", "US Coast Guard Merchant Mariner Card", "EAD", "Birth certificate" ]),:class => 'form-control',:id => "secondary_id") %>
                    </div>
                     <div class="col-md-6">
                      <label for="Name" class="control-label">Secondary Id Number</label>
                      <%= text_field_tag(:secondary_id_number,@app_user.secondary_id_number,:class => 'form-control input-md',:placeholder => 'Secondary Id Number', :id=> 'secondary_id_number', :maxlength=>"20") %>
                    </div>
                  </div>
                </div>
                <!-- Button group -->
                <div class="btn-group btnBox">
                  <div class="col-sm-12 btn-con">
                  <button class="btn save-btn" type="button" id="personal_information_tab">
                    Next
                  </button>
                </div>
              </div>
            </div>

            <!-- Body -->

            <% if @app_user.user_type == "business" %>
            <%= render :partial=>"business_user_order_form"%>
            <% else %>
            <%= render :partial=>"residence_user_order_form"%>
            <%end%>


  <!--order review page-->

  <div id="order-review" class="tab-pane">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-6"><h2><b>Personal details</b></h2>
          <span class="style3">Name:</span> <span id="review-name" class="style5"></span><br />
          <!-- <span class="style3">Last Name:</span> <span id="review-last-name" class="style5"></span><br /> -->
          <span class="style3">Mobile:</span> <span id="review-mobile" class="style5"></span><br />
          <span class="style3">Primary Id:</span> <span id="review-primary" class="style5"></span><br/>
          <span class="style3">Secondary Id:</span> <span id="review-secondary" class="style5"></span>
        </div>

        <% if (@app_user.user_type == AppUser::BUSINESS) && (@app_user.business_app_users.first.business.business_type ==  Business::REGISTERED) %>

        <div class="col-md-6"> <h2><b>Registered</b></h2>
          <span class="style3">Business Name:</span> <span id="review-business" class="style5"></span><br />
          <span class="style3">Federal Tax ID:</span> <span id="review-federal" class="style5"></span><br />
          <!-- <span class="style3">Dan & Bradsheet Number:</span> <span id="review-db" class="style5" ></span> -->
        </div>
        <% elsif (@app_user.user_type == AppUser::BUSINESS) && (@app_user.business_app_users.first.business.business_type ==  Business::SOLE_PROPRIETOR) %>
        <div class="col-md-6"> <h2><b>SOLE PROPRIETOR</b></h2>
          <span class="style3">Business Name:</span> <span id="review-business" class="style5"></span><br />
          <span class="style3">SSN:</span> <span id="review-ssn" class="style5"></span><br />
          <!-- <span class="style3">Dan & Bradsheet Number:</span> <span id="review-db" class="style5" ></span> -->
        </div>
        <% end %>
        <div class="col-md-12"> <h2><b>Address</b></h2>
          <div class="billing-address col-sm-4 padding0">
            <h2 class="heading8"><b>Billing Address</b></h2>
            <div class="billing-address-innertxt word-wrap"></div>

          </div>
          <div class="service-address col-sm-4 padding0">
            <h2 class="heading8"><b>Shipping Address</b></h2>
            <div class="shipping-address-innertxt word-wrap"></div>
          </div>
          <div class="service-address col-sm-4 padding0">
            <h2 class="heading8"><b>Service Address</b></h2>
            <div class="service-address-innertxt word-wrap"></div>
          </div>
        </div>
      </div>


      <div class="btn-group btnBox">
        <div class="col-sm-12 text-right">
          <%= hidden_field_tag :deal_id,@deal.id,{:name=> 'order_items[deal_id]'}%>
          <%= hidden_field_tag :status,'new_order',{:name=> 'order_items[status]'}%>
          <%= hidden_field_tag :deal_price,@deal.price,{:name=> 'order_items[deal_price]'}%>
          <%= hidden_field_tag :effective_price,@deal.effective_price,{:name=> 'order_items[effective_price]'}%>
          <%= submit_tag('Submit',:class => 'btn save-btn',:id => 'order_submit_button') %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
</div>
</div>
</div>
<input type="hidden" id="getnamevalue">
<input type="hidden" id="getlastnamevalue">
<input type="hidden" id="getmobilevalue">
<input type="hidden" id="getprimaryvalue">
<input type="hidden" id="getsecondaryvalue">
<input type="hidden" id="getssn">
<input type="hidden" id="getfederal">
<input type="hidden" id="getbusiness">


</section>

<!--Order-form-->
<script>
var errormsg="";
$(document).ready(function(e) {
  var billing_address;
  var service_address;
  var shipping_addres;
  $.ajax({
    url:"/get_user_addresses",
    type: "GET",
    data:{ id:<%=@app_user.id%>},
    success: function(data){
      console.log(data);
      if (data!=""){
        billing_address=data.status[0];
        service_address=data.status[2];
        shipping_address=data.status[1];
        $("#billing_address_1").val(billing_address.address1);
        $("#billing_address_2").val(billing_address.address2);
        $("#billing_zip").val(billing_address.zip);
        $("billing-name").val(billing_address.address_name);
        $("#shipping_address_1").val(shipping_address.address1);
        $("#shipping_address_2").val(shipping_address.address2);
        $("#shipping_zip").val(shipping_address.zip);
        $("shipping-name").val(shipping_address.address_name);
        $("#service_address_1").val(service_address.address1);
        $("#service_address_2").val(service_address.address2);
        $("#service_zip").val(service_address.zip);
        $("service-name").val(service_address.address_name);
        $("#app_user_billing_address_1").val(billing_address.address1);
        $("#app_user_billing_address_2").val(billing_address.address2);
        $("#app_user_billing_zip").val(billing_address.zip);
        $("#app_user_shipping_address_1").val(shipping_address.address1);
        $("#app_user_shipping_address_2").val(shipping_address.address2);
        $("#app_user_shipping_zip").val(shipping_address.zip);
        $("#app_user_service_address_1").val(service_address.address1);
        $("#app_user_service_address_2").val(service_address.address2);
        $("#app_user_service_zip").val(service_address.zip);
      }
    }
  });

});
$(document).keydown(function(e){
  if (e.which==13){
  if($("#business_information_tab").is(":visible")==true){
    $("#business_information_tab").click();
  }else if($("#personal_information_tab").is(":visible")==true){
     $("#personal_information_tab").click();
  }else if($("#business_address_information_tab").is(":visible")==true) {
   $("#business_address_information_tab").click();
  }else if($("#residence_address_information_tab").is(":visible")==true) {
   $("#residence_address_information_tab").click();
  }
  else if($("#order_submit_button").is(":visible")==true) {
   $("#order_submit_button").click();
 }
  }
})

var  federal = $('#federal_number').val();
$('#getfederal').val(federal);
var federal_value= $(getfederal).val()
$("#review-federal").text(federal_value);

  <%
  if @app_user.user_type == "business" %>
  var  business = $('#business_name').val();
  $('#getbusiness').val(business);
  var business_value= $(getbusiness).val();
  f=business_value[0].toUpperCase();
  l=business_value.substr(1);
  $("#review-business").text(f+''+l);
<%end%>

var  ssn = $('#ssn').val();
$('#getssn').val(ssn);
var ssn_value= $(getssn).val()
$("#review-ssn").text(ssn_value);

var  last_name = $('#last_name').val();
$('#getlastnamevalue').val(last_name);
var get_last_name= $(getlastnamevalue).val()
$("#review-last-name").text(get_last_name);

var mobile_value = $('#mobile').val();
$('#getmobilevalue').val(mobile_value);
var get_mobile= $(getmobilevalue).val()
$("#review-mobile").text(get_mobile);

var primary_value = $('#primary_id_number').val();
$('#getprimaryvalue').val(primary_value);
var get_primary= $(getprimaryvalue).val()
$("#review-primary").text(get_primary);

var secondary_value = $('#secondary_id_number').val();
$('#getsecondaryvalue').val(secondary_value);
var get_secondary= $(getsecondaryvalue).val()
$("#review-secondary").text(get_secondary);

$("#order_information_menu_tab").click(function(event){
   firstname=$('#first_name').val();
   rest=firstname.substr(1);
   first=firstname[0].toUpperCase();
   finalfirstname=first+''+rest;
   lastname=$("#last_name").val();
   last_rest=lastname.substr(1);
   last_first_char=lastname[0].toUpperCase();
   finallastname=last_first_char+''+last_rest;
  $('#review-name').text(finalfirstname+" "+finallastname);
  $('#review-last-name').text($('#last_name').val());
  $('#review-mobile').text($('#mobile').val());
  $('#review-primary').text($('#primary_id_number').val());
  $('#review-secondary').text($('#secondary_id_number').val());

  var first_name = $('#first_name').val();
  var mobile = $('#mobile').val();
  var last_name = $('#last_name').val();
  var primary_id = $('#primary_id').val();
  var secondary_id = $('#secondary_id').val();
  var business_manager_name = $('#business_manager_name').val();
  var business_manager_contact = $('#business_manager_contact').val();
  var billing_address_1 = $('#billing_address_1').val();
  var billing_address_2 = $('#billing_address_2').val();
  var billing_zip = $('#billing_zip').val();
  var shipping_address_1 = $('#shipping_address_1').val();
  var shipping_address_2 = $('#shipping_address_2').val();
  var shipping_zip = $('#shipping_zip').val();
  var service_address_1 = $('#service_address_1').val();
  var service_address_2 = $('#service_address_2').val();
  var service_zip = $('#service_zip').val();
  var app_user_billing_address_1 = $('#app_user_billing_address_1').val();
  var app_user_billing_address_2 = $('#app_user_billing_address_2').val();
  var app_user_billing_zip = $('#app_user_billing_zip').val();
  var app_user_shipping_address_1 = $('#app_user_shipping_address_1').val();
  var app_user_shipping_address_2 = $('#app_user_shipping_address_2').val();
  var app_user_shipping_zip = $('#app_user_shipping_zip').val();
  var app_user_service_address_1 = $('#app_user_service_address_1').val();
  var app_user_service_address_2 = $('#app_user_service_address_2').val();
  var app_user_service_zip = $('#app_user_service_zip').val();

  if ($('#user_type').val() == "business"){
    billing_address=billing_address_1+"<br/>"+billing_address_2+"<br/><b></b>"+billing_zip;
      service_address=service_address_1+"<br/>"+service_address_2+"<br/><b></b>"+service_zip;
      shipping_address=shipping_address_1+"<br/>"+shipping_address_2+"<br/><b></b>"+shipping_zip;
      $(".service-address-innertxt").html(service_address);
      $(".shipping-address-innertxt").html(shipping_address);
      $(".billing-address-innertxt").html(billing_address);
    }
    else{
      app_user_billing_address=app_user_billing_address_1+"<br/>"+app_user_billing_address_2+"<br/><b></b>"+app_user_billing_zip;
      app_user_service_address=app_user_service_address_1+"<br/>"+app_user_service_address_2+"<br/><b></b>"+app_user_service_zip;
      app_user_shipping_address=app_user_shipping_address_1+"<br/>"+app_user_shipping_address_2+"<br/><b></b>"+app_user_shipping_zip;
      $(".service-address-innertxt").html(app_user_billing_address);
      $(".shipping-address-innertxt").html(app_user_service_address);
      $(".billing-address-innertxt").html(app_user_shipping_address);
    }

  if( primary_id=='' || secondary_id=='' || first_name == '' || mobile == '' || last_name == '' || primary_id == '' || secondary_id == '' || business_manager_name == '' || business_manager_contact == '' || billing_address_1 == '' || billing_zip == '' || shipping_address_1 == '' || shipping_zip == '' || service_address_1 == '' || service_zip == '' || app_user_billing_address_1 == '' || app_user_billing_zip == '' || app_user_shipping_address_1  == '' || app_user_shipping_zip  == '' || app_user_service_address_1 == '' || app_user_service_zip == '' ) {
    alert("Please fill all the mandatory fields.")
    event.stopImmediatePropagation();
  }
});

  $("#address_information_menu_tab").click(function(event){
    var first_name = $('#first_name').val();
    var mobile = $('#mobile').val();
    var last_name = $('#last_name').val();
    var primary_id = $('#primary_id').val();
    var secondary_id = $('#secondary_id').val();
    var business_manager_name = $('#business_manager_name').val();
    var business_manager_contact = $('#business_manager_contact').val();
    if( first_name == '' || mobile == '' || last_name == '' || primary_id == '' || secondary_id == '' || business_manager_name == '' || business_manager_contact == '' ) {
      alert("Please fill all the mandatory fields.");
      event.stopImmediatePropagation();
    }
    if ($('#user_type').val() == "business"){
      if (mobile.length < 10  || business_manager_contact.length < 10){
        alert('Please enter 10-digit number.')
        event.stopImmediatePropagation();
      }
      else {
       if (mobile.length < 10){
        alert('Please enter 10-digit number.')
        event.stopImmediatePropagation();
      }
      }
    }

  });

  var billing_address,service_address,shipping_address,app_user_billing_address_2,app_user_billing_address_1, app_user_billing_zip;
  var app_user_shipping_zip,app_user_service_address_1,app_user_service_address_2,app_user_service_zip,app_user_shipping_address_1,app_user_shipping_address_2;

  $("#residence_address_information_tab").click(function(event){
    event.preventDefault();
    app_user_billing_address_2 = $('#app_user_billing_address_2').val();
    app_user_billing_address_1 = $('#app_user_billing_address_1').val();
    app_user_billing_zip = $('#app_user_billing_zip').val();
    app_user_shipping_zip = $('#app_user_shipping_zip').val();
    app_user_service_address_1 = $('#app_user_service_address_1').val();
    app_user_service_address_2 = $('#app_user_service_address_2').val();
    app_user_service_zip = $('#app_user_service_zip').val();
    app_user_shipping_address_1=$('#app_user_shipping_address_1').val();
    app_user_shipping_address_2=$('#app_user_shipping_address_2').val();
    if(app_user_billing_address_1 == '' || app_user_billing_zip == '' || app_user_shipping_address_1  == '' || app_user_shipping_zip  == '' || app_user_service_address_1 == '' || app_user_service_zip == '' ) {
      alert("Please fill all the mandatory fields.")
    }
    else {
      billing_address=app_user_billing_address_1+"<br/>"+app_user_billing_address_2+"<br/><b></b>"+app_user_billing_zip;
      service_address=app_user_service_address_1+"<br/>"+app_user_service_address_2+"<br/><b></b>"+app_user_service_zip;
      shipping_address=app_user_shipping_address_1+"<br/>"+app_user_shipping_address_2+"<br/><b></b>"+app_user_shipping_zip;
      $(".service-address-innertxt").html(service_address);
      $(".shipping-address-innertxt").html(shipping_address);
      $(".billing-address-innertxt").html(billing_address);
      $('.nav-tabs > .active').next('li').find('a').trigger('click');
    }
  });

  $("#business_address_information_tab").click(function(event){
    event.preventDefault();
    var billing_address_1 = $('#billing_address_1').val();
    var billing_address_2 = $('#billing_address_2').val();
    var billing_zip = $('#billing_zip').val();
    var shipping_address_1 = $('#shipping_address_1').val();
    var shipping_address_2 = $('#shipping_address_2').val();
    var shipping_zip = $('#shipping_zip').val();
    var service_address_1 = $('#service_address_1').val();
    var service_address_2 = $('#service_address_2').val();
    var service_zip = $('#service_zip').val();
    if(billing_address_1 == '' || billing_zip == '' || shipping_address_1 == '' || shipping_zip == '' || service_address_1 == '' || service_zip == '') {
      alert("Please fill all the mandatory fields.")
    }
    else {
      billing_address=billing_address_1+"<br/>"+billing_address_2+"<br/><b></b>"+billing_zip;
      service_address=service_address_1+"<br/>"+service_address_2+"<br/><b></b>"+service_zip;
      shipping_address=shipping_address_1+"<br/>"+shipping_address_2+"<br/><b></b>"+shipping_zip;
      $(".service-address-innertxt").html(service_address);
      $(".shipping-address-innertxt").html(shipping_address);
      $(".billing-address-innertxt").html(billing_address);
      $('.nav-tabs > .active').next('li').find('a').trigger('click');
    }
  });

  $("#business_information_tab").click(function(event){
    event.preventDefault();
    var business_manager_name = $('#business_manager_name').val();
    var business_manager_contact = $('#business_manager_contact').val();
    if( business_manager_name == '' || business_manager_contact == '' ) {
      alert("Please fill all the mandatory fields.")
    }
    else if (business_manager_contact.length < 10 ) {
      alert("Please enter 10-digit number.")
    }
    else {
      $('.nav-tabs > .active').next('li').find('a').trigger('click');
    }
  });
  $("#personal_information_tab").click(function(event){
    event.preventDefault();
    var  first_name = $('#first_name').val();
    var  mobile = $('#mobile').val();
    var  last_name = $('#last_name').val();
    var primary_id = $('#primary_id_number').val();
    var secondary_id = $('#secondary_id_number').val();
    console.log(primary_id)
    if(primary_id==''|| secondary_id=='' || first_name == '' || mobile == '' || last_name == '' || primary_id == '' || secondary_id == ''  )  {
      alert("Please fill all the mandatory fields.")
    }
    else if (mobile.length < 10){
      alert('Please enter 10-digit number.')
    }
    else {
      $('.nav-tabs > .active').next('li').find('a').trigger('click');
    }
  });

  $("#business_information_menu_tab").click(function(event) {
    var  first_name = $('#first_name').val();
    var mobile = $('#mobile').val();
    var last_name = $('#last_name').val();
    var primary_id = $('#primary_id').val();
    var secondary_id = $('#secondary_id').val();
    if( first_name == '' || mobile == '' || last_name == '' || primary_id == '' || secondary_id == '') {
      alert("Please fill all the mandatory fields.")
      event.stopImmediatePropagation();
    }
    else if (mobile.length < 10){
      alert('Please enter 10-digit number.')
      event.stopImmediatePropagation();
    }
  });

  $("#order_submit_button").click(function(event){
    event.preventDefault();
    var  first_name = $('#first_name').val();
    var  mobile = $('#mobile').val();
    var  last_name = $('#last_name').val();
    var primary_id = $('#primary_id_number').val();
    var secondary_id = $('#secondary_id_number').val();

    var business_manager_name = $('#business_manager_name').val();
    var business_manager_contact = $('#business_manager_contact').val();

    var billing_address_1 = app_user_shipping_address_1;
    var billing_address_2 = app_user_shipping_address_2;
    var billing_zip = app_user_billing_zip;

    var shipping_address_1 = app_user_shipping_address_1;
    var shipping_address_2 = app_user_shipping_address_2;
    var shipping_zip = app_user_shipping_zip;

    var service_address_1 =app_user_service_address_1;
    var service_address_2 =app_user_service_address_2;
    var service_zip = app_user_service_zip;

    if( primary_id == '' || secondary_id== '' || first_name == '' || mobile == '' || last_name == '' || primary_id == '' || secondary_id == '' || business_manager_name == '' || business_manager_contact == '' || billing_address_1 == '' || billing_zip == '' || shipping_address_1 == '' || shipping_zip == '' || service_address_1 == '' || service_zip == '' || app_user_billing_address_1 == '' || app_user_billing_zip == '' || app_user_shipping_address_1  == '' || app_user_shipping_zip  == '' || app_user_service_address_1 == '' || app_user_service_zip == '' ) {
      alert("Please fill all the mandatory fields.")
    }
    else {
      $('#order_create_form').submit();
    }

    address1=$("#app_user_billing_address_1").val();
    address2=$("#app_user_billing_address_2").val()
    zip=$("#app_user_billing_address_zip").val();
    if (address1!="" && address2!="" && zip!=""){
      $("#shipping_address").toggle();
    }
    else {
      alert("Please Enter Details then click on checkbox");
    }

    $(".comparebox-display:checked").attr("checked",false);
    populate_user_type($('#user_type').val());
    populate_business_type($('#business_type').val());
    $('#user_type').on('change', function() {
      populate_user_type($('#user_type').val())
    });
    $('#business_type').on('change', function() {
      populate_business_type($('#business_type').val())
    });

  });

  function populate_user_type(user_type) {
    if(user_type == 'business'){
      $('#business_type_div').show();
      $('#business_name_div').show();
    }else{
      $("#business_type :selected").prop('selected', false);
      $('#business_type_div').hide();
      $('#business_name').val('');
      $('#business_name_div').hide();
      $('#federal_number').val('');
      $('#ssn').val('');
      $('#federal_number_div').hide();
      $('#ssn_div').hide();
    }
  }
  function populate_business_type(business_type){
    if(business_type != '') {
      if (business_type == <%= Business::SOLE_PROPRIETOR %>) {
        $('#ssn_div').show();
        // $('#federal_number_div').hide();
        $('#federal_number').val('');
      } else if (business_type == <%= Business::REGISTERED %>) {
        // $('#ssn_div').hide();
        $('#ssn').val('');
        $('#federal_number_div').show();
      }
      $('#federal_number, #business_name, #ssn').removeAttr("disabled");
    }else{
      $('#ssn_div').hide();
      $('#ssn').val('');
      $('#federal_number_div').hide();
      $('#federal_number').val('');
    }
  }

  $(".registerDetails").hide();
  $("#soleprop").click(function(){
    $(".registerDetails").hide();
    $(".soleproDetails").show();
  });

  $("#registered").click(function(){
    $(".soleproDetails").hide();
    $(".registerDetails").show();
  });

  $('.btnPrevious').click(function(){
    $('.nav-tabs > .active').prev('li').find('a').trigger('click');
  });

  $('#first_name').keyup(function(){
    var  abc = $('#first_name').val();
    $('#getnamevalue').val(abc);
  });

  $("#ordertab").click(function(){
    var y= $(getnamevalue).val()
    $("#review-name").text(y);
    var get_mobile= $(getmobilevalue).val()
    $("#review-mobile").text(get_mobile);
    var get_primary= $(getprimaryvalue).val()
    $("#review-primary").text(get_primary);
    var get_secondary= $(getsecondaryvalue).val()
    $("#review-secondary").text(get_secondary);
  });

  $('#mobile').keyup(function(){
    var  mobile_value = $('#mobile').val();
    $('#getmobilevalue').val(mobile_value);
  });

  $('#primary_id').change(function(){
    var  primary_value = $('#primary_id').val();
    $('#getprimaryvalue').val(primary_value);
  });

  $('#secondary_id').change(function(){
    var  secondary_value = $('#secondary_id').val();
    $('#getsecondaryvalue').val(secondary_value);
  });

  $("#checkboxb").change(function () {
    $("#service_address").toggle();
  });

  $("#checkbox7a").change(function () {
    $("#shipping_address").toggle();
  });

  $("#checkbox8a").change(function () {
    $("#business_service_address").toggle();
  });

  $("#checkbox8b").change(function () {
    $("#business_shipping_address").toggle();
  });

  function SetService(checked) {
    if (checked) {
      document.getElementById('service_address_1').value = document.getElementById('billing_address_1').value;
      document.getElementById('service_address_2').value = document.getElementById('billing_address_2').value;
      document.getElementById('service_zip').value = document.getElementById('billing_zip').value;
    }
    else {
      document.getElementById('service_address_1').value = '';
      document.getElementById('service_address_2').value = '';
      document.getElementById('service_zip').value = '';
    }
  }

  function SetShipping(checked) {
    if (checked) {
      document.getElementById('shipping_address_1').value = document.getElementById('billing_address_1').value;
      document.getElementById('shipping_address_2').value = document.getElementById('billing_address_2').value;
      document.getElementById('shipping_zip').value = document.getElementById('billing_zip').value;
    }
    else {
      document.getElementById('shipping_address_1').value = '';
      document.getElementById('shipping_address_2').value = '';
      document.getElementById('shipping_zip').value = '';
    }
  }

  function SetAppUserService(checked) {
    if (checked) {
      document.getElementById('app_user_service_address_1').value = document.getElementById('app_user_billing_address_1').value;
      document.getElementById('app_user_service_address_2').value = document.getElementById('app_user_billing_address_2').value;
      document.getElementById('app_user_service_zip').value = document.getElementById('app_user_billing_zip').value;
    }
    else {
      document.getElementById('app_user_service_address_1').value = '';
      document.getElementById('app_user_service_address_2').value = '';
      document.getElementById('app_user_service_zip').value = '';
    }
  }

  function SetAppUserShipping(checked) {
    if (checked) {
      document.getElementById('app_user_shipping_address_1').value = document.getElementById('app_user_billing_address_1').value;
      document.getElementById('app_user_shipping_address_2').value = document.getElementById('app_user_billing_address_2').value;
      document.getElementById('app_user_shipping_zip').value = document.getElementById('app_user_billing_zip').value;
    }
    else {
      document.getElementById('app_user_shipping_address_1').value = '';
      document.getElementById('app_user_shipping_address_2').value = '';
      document.getElementById('app_user_shipping_zip').value = '';
    }
  }
  function checkedifchanged(){
    if ($("#checkbox7a").prop("checked")==true || $("#checkboxb").prop("checked")==true) {
      app_user_billing_address_2 = $('#app_user_billing_address_2').val();
      app_user_billing_address_1 = $('#app_user_billing_address_1').val();
      app_user_billing_zip = $('#app_user_billing_zip').val();
      $('#app_user_shipping_address_1').val(app_user_billing_address_1);
      $('#app_user_shipping_address_2').val(app_user_billing_address_2);
      $('#app_user_shipping_zip').val(app_user_billing_zip );
      $('#app_user_service_address_1').val(app_user_billing_address_1);
      $('#app_user_service_address_2').val(app_user_billing_address_2);
      $('#app_user_service_zip').val(app_user_billing_zip);

    }
  }
</script>
