<div id='header' style="height:36px">
	<% if user_signed_in? %>
  	<div id='welcome'>
			System Date: <span style="color:#fff"><%= Time.now.strftime("%Y-%m-%d")%></span><span>&nbsp;</span> | 
			User: <span id='welcome_username'><%= current_user.name %></span><span>(<%= current_user.role.humanize%>)</span> 
			<%= link_to 'Logout', destroy_user_session_path, :method=>:delete%>
  	</div>
	<% end %>
  <h3>
		<a href="<%= root_path %>"><i>Service Deals</i></a> <span>beta</span>
  </h3>
	<% if user_signed_in? && current_user.is_super_admin? %>
		<div class="clear"></div>
		<div style="float:right">
			Used as: <%= current_user.role.humanize %>
		</div>
	<% end %> 
</div>

