<% if controller.controller_name=="app_users" and controller.action_name=="checkout" %>
<footer>
   <!-- <footer style="bottom: 0;height: 190px;position: absolute;width: 100%;"> -->
  <%else%>
  <footer>
<%end%>
<!-- 
  <div class="container">

    <div class="col-sm-3 col-xs-6">
      <ul>
        <li class="heading">Home services made easy</li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">How it Works</a></li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">Find Savings</a></li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">Tools and Resources</a></li>
        <li><a href="<%#= our_providers_website_home_index_path %>">Our Providers</a></li>
      </ul>
    </div>

    <div class="col-sm-3 col-xs-6">
      <ul>
        <li class="heading">Your Utilities and Services</li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">Customer Service</a></li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">Order Status</a></li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">Cellphone Facts Labels</a></li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">Sitemap</a></li>
      </ul>
    </div>

    <div class="col-sm-3 col-xs-6">
      <ul>
        <li class="heading">Trust ServiceDealz</li>
        <li><a href="<%#= about_us_website_home_index_path %>">About Us</a></li>
        <li><a href="<%#= contact_us_website_home_index_path %>">Contact Us</a></li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">Careers</a></li>
        <li><a href="<%#= coming_soon_website_home_index_path %>">Utility Partner Solutions</a></li>
      </ul>
    </div>

    <div class="col-sm-3 col-xs-6 copyright">
      <p>Copyright © 2015 ServiceDealz Inc. <br>
        All Rights Reserved.</p>
      <span> <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> <br>
      Provider Copyright Statements </span>
    </div>

  </div> -->




  <div class="container">
    
    <div class="col-md-6 col-sm-6">
      <ul>
       <li class="heading"><a href="<%=  website_home_index_path %>">Home</a></li>
        <li class="heading"><a href="<%= about_us_path %>">About Us</a></li>
          <li class="heading"><a href="<%= contact_us_path %>">Contact Us</a></li>
      </ul>
    </div>
    
    <div class="col-md-6 col-sm-6 copyright">
      <p>Copyright © 2016 ServiceDeals Inc.
        All Rights Reserved.</p>
      <span> <a href="<%= tnc_path %>">Terms of Use</a> | <a href="<%= privacy_policy_path%>">Privacy Policy</a></span> </div>
  </div>
</footer>
<script type="text/javascript">
// window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
// d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
// _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
// $.src="//v2.zopim.com/?4B78v6fX0uBGKf9LXYz1GgjYoT6cgvIA";z.t=+new Date;$.
// type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
