<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header pull-left"> <a class="navbar-brand" href="<%= website_home_index_path %>"><%= image_tag("website/logo.png",:alt => 'Service Deals') %></a> </div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <div id="navbar" class="navbar-collapse collapse  pull-right">
      <ul class="navService">
        <li><a href="<%= compare_deals_website_home_index_path %>">Tv</a></li>
        <li><a href="#">Phone</a></li>
        <li><a href="<%= deals_website_home_index_path %>?zip_code=75024&deal_type=residence&category_id=<%= Deal::INTERNET_CATEGORY %>">Internet</a></li>
        <li><a href="#">Gas</a></li>
        <li><a href="#">Electricity</a></li>
        <li><a href="#">Bundles</a></li>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>