<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'logo1.png' %>
    <title>Service Dealz</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet" />

   </head>

  <body>

    <%= render :partial =>"/layouts/header" %>

    <%= render :partial=>"/layouts/tabs" if user_signed_in? %>
    <%= yield %>
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="//v2.zopim.com/?4B78v6fX0uBGKf9LXYz1GgjYoT6cgvIA";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <%= render :partial =>"/layouts/footer" %>
    <!--Start of Zopim Live Chat Script-->
    <!--Start of Zopim Live Chat Script-->
    <script>
    console.log("host=<%=request.host%>")
    </script>
  </body>
</html>
