<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'logo1.png' %>
    <title>Service Deals</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

    <%= render :partial =>"/layouts/header" %>
    <%= render :partial=>"/layouts/tabs" if user_signed_in? %>
    <%= yield %>
    <%= render :partial =>"/layouts/footer" %>

  </body>
</html>
