<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <title>Service Deals Rails - <%= current_controller %></title>
		<%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true  %>
		<%= csrf_meta_tags %>
  </head>

  <body>
		<%= render :partial=>"/layouts/header" %>
			<%#= render :partial=>"/layouts/applications/tabs" if user_signed_in? %>
			<% if notice.present? %><p class="notice"><%= notice %></p><% end %>
			<% if alert.present? %><p class="alert"><%= alert %></p><% end %>
			<%= yield %>
		<%= render :partial=>"/layouts/footer"  %>
  </body>
</html>

